.console
	width 800px
	margin 25px auto
	padding 25px
	background $csLightGray
	h4
		text-transform capitalize
	form
		margin 12px 0
		padding 20px 20px 8px
		border 2px solid #ddd
		background-color white

.monitor
	.adminLink
		width 150px
		cursor pointer
		padding 10px
		background $csOrange
		color white
		text-align center
		font-family	$buttonFont
		border-radius 5px

	#questions
		background $csBlue
	#chat
		background $csPurple
	#addPlayer
		background $csGreen
	#startStop
		background $csOrange
	.output
		margin 20px 0 40px 20px
		.allChat
			font-family $buttonFont
			p
				margin 20px 0
			.time
				color white
				font-size .8em
				padding 11px 7px 7px 7px
				background $csGray
			.who
					padding 5px
					color white
					font-size 1.2em
					background $csPurple
			p:nth-of-type(even)
				.what
					padding 5px
					color white
					font-size 1.2em
					background $csBlue
			p:nth-of-type(odd)
				.what
					padding 5px
					color white
					font-size 1.2em
					background $csGreen
		.question
			font-family $bodyFont
			cursor pointer
			margin 0
			margin-top 20px
			color white
			padding 10px
			font-size 1.2em

		.answer
			background $csGray
			color white
			padding 10px
			margin 0
			position relative
			p
				width 90%
				font-size 1.2em
				font-family $buttonFont
			.extras
				position absolute
				right 10px
				top 10px
				i
					color #eee
					margin 5px

		.allQuestion
			margin-bottom 30px
			p
				color white
				padding 10px
				margin 0
				font-size 1.2em
				font-family $buttonFont
			p.allPlayerAnswers
				background $csGray
			p.mainQ
				font-family $bodyFont
				cursor pointer
				margin-top 20px
	.deletePlayer
		margin-top -10px
		margin-left 10px
p.level0
	background $csGreen
p.level1
	background $csPurple
p.level2
	background $csBlue
p.level3
	background $csOrange

#admin-startup
	.loader
		margin 12px 0
		padding 20px
		border 2px solid $csGray
		background-color white
		.loader-button-row
			margin-top 10px
		.loader-spinner
			margin-top -20px
			margin-left 56px
		.loader-instructions
			padding-top 4px
		button
			width 120px

.npcs
	h3
		font-size 1.4em
	label
		color white
	small
		color rgba(255,255,255,0.75)
		font-size 0.85em
		margin-left 8px
	input, textarea
		border 2px solid $csGray
		background white !important
	input
		&.number
			width 65px
			margin-right 6px
			text-align center
	textarea
		padding 10px
		height 95px
		&.question
			width 800px
		&.possible, &.answer
			width 390px
			margin-right 20px
	button
		padding 10px
		border 0
		font-family $buttonFont
		text-align center
		line-height 1em
		color white
		background $csOrange
		border-radius 3px
		&:hover
			background $csLightOrange
	.npc
		margin 20px 0
		color white
		position relative
		user-select none
		.information, .resource, .smalltalk, .prompts, .skinSuit, .options
			position relative
			padding 20px
		.information
			background $csLightGray
			color $csBlack
			height 90px
			.sprite
				position absolute
				width 64px
				height 64px
				top 16px
				.sprite-controls
					position absolute
					top 6px
					left 45px
					font-size 1.5em
					color $csGray
					i
						cursor pointer
						&:hover
							color $csOrange
			.npcName
				position absolute
				left 100px
				top 28px
				input
					font-size 1.4em
					font-weight bold
				label
					display inline-block
					margin 0 10px
					font-size 1.3em
					line-height 1.6
					font-family $bodyFont
					color $csBlack
		.resource
			background $csGreen
			.viewResource
				position absolute
				right 20px
				width 100px
				background $csPurple
				&:hover
					background lighten($csPurple, 20%)
			.questionType
				display inline-block
				margin-left 20px
				input
					display inline-block
				label
					display inline-block
					margin 0 10px 0 6px
					color rgba(255,255,255,0.75)
					font-size 0.85em
		.smalltalk
			background $csOrange
		.prompts
			background $csBlue
		.skinSuit
			background $csLightGreen
		.options
			background $csPurple
			button
				font-size 1.4em
			.deleteNpc
				position absolute
				right 20px
		.justSaved
			background $csLightGreen
	.addDiv
		margin 20px 0
		button.addNpc
			padding 20px
			width 100%
			font-size 1.8em
			background $csGreen

.article
	display none
	top 20%
	margin 0 auto
	width 900px
	height 360px
	overflow auto
	background $cloudUrl('img/bg/grey.png')
	position fixed
	border-radius 5px
	padding 20px
	cursor pointer

.buffer
	position fixed
	display none
	top 0
	left 0
	background #222
	background rgba(0,0,0,.7)
	width 100%
	height 100%

.levelFilter
	position fixed
	top 176px
	left 0px
	margin 0
	padding 0
	background rgba(100,100,100,0.5)
	div
		margin 0
		padding 10px 20px
		border 2px solid #fff
		text-align right
		font-family $buttonFont
		font-size 1.5em
		color #fff
		cursor pointer
	.current
		background $csOrange
		&:hover
			background $csLightOrange
