.monitor
	.adminLink
		width 150px
		cursor pointer
		padding 10px
		background $csOrange
		color white
		text-align center
		font-family	$buttonFont
		$borderRadius(5px)

	#questions
		background $csBlue
	#chat
		background $csPurple
	#addPlayer	
		background $csGreen
	#startStop
		background $csOrange
	.output
		margin 20px 0 40px 20px
		.allChat
			font-family $buttonFont
			p 
				margin 20px 0
			.time
				color white
				font-size .8em
				padding 11px 7px 7px 7px 
				background $csGray
			.who
					padding 5px
					color white
					font-size 1.2em
					background $csPurple
			p:nth-of-type(even)
				.what 
					padding 5px
					color white
					font-size 1.2em
					background $csBlue
			p:nth-of-type(odd)
				.what 
					padding 5px
					color white
					font-size 1.2em
					background $csGreen
		.question
			font-family $bodyFont
			cursor pointer
			margin 0
			margin-top 20px
			color white
			padding 10px
			font-size 1.2em
			
		.answer
			background $csGray
			color white
			padding 10px
			margin 0
			position relative
			p 
				width 90%
				font-size 1.2em
				font-family $buttonFont
			.extras
				position absolute
				right 10px
				top 10px
				i 
					color #eee
					margin 5px
		
		.allQuestion
			margin-bottom 30px
			p
				color white
				padding 10px
				margin 0
				font-size 1.2em
				font-family $buttonFont
			p.allPlayerAnswers
				background $csGray
			p.mainQ
				font-family $bodyFont
				cursor pointer
				margin-top 20px
	.deletePlayer
		margin-top -10px
		margin-left 10px
p.level0
	background $csGreen
p.level1
	background $csPurple
p.level2
	background $csBlue
p.level3
	background $csOrange

#dataLoaders 
	button
		margin 10px

.npcs
	.npc
		margin 20px 0
		color white
		position relative
		p
			margin 0
			padding 10px 0 5px 10px
			-webkit-user-select: none;  
			-moz-user-select: none;    
			-ms-user-select: none;      
			user-select: none;
		textarea
			resize none
			height 80px
			border none
			margin 0 0 10px 10px
		.options 
			background $csPurple
			padding 20px 10px
		.information
			background $csGray
			padding 20px 10px
			.bg 
				width 64px
				height 64px
				position absolute
				top 10px
				left 20px
				p
					color #eee
					font-size 1.5em
					margin-left 40px
					i 
						cursor pointer
			.npcName
				margin-left 78px
				span.regular
					margin 0 0 0 10px
					line-height 1.6
					font-size 1.3em
					font-family $bodyFont
				textarea
					width 200px
					height 26px
					background #ccc
					font-size 1.8em
				input
					margin-top -2px
				.areaNumber
					width 48px
					text-align center
				.levelNumber
					font-size 1.2em
					line-height 2
					color $csLightGreen
					margin-left 20px
		.resource
			textarea 
				height 24px
				width 240px
			textarea.required
				width 40px
			textarea.question
				width 800px
				height 80px
			textarea.possible, textarea.answer
				width 390px
			textarea.url
				width 200px
			.smallerFont
				font-size .9em
				padding-left 5px
				color $csLightGreen
			.questionType
				input
					margin 0 0 0 15px
				span
					color $csLightGreen
		.smalltalk
			background $csOrange
			padding 10px
		.resource
			background $csGreen
			padding 10px
			.viewResource
				color white
				background $csPurple
				width 100px
				font-family $buttonFont
				padding 5px
				$borderRadius(5px)
				text-align center
				position absolute
				right 10px
				cursor pointer
		.prompts 
			background $csBlue
			padding 10px
		.category
			font-size 1.4em
		.saveChanges
			background $csOrange
			color white
			font-size 1.4em
			text-align center
			$borderRadius(5px)
			padding 10px
			font-family $buttonFont
			cursor pointer
		.deleteNpc
			background $csLightOrange
			color white
			font-size 1.4em
			text-align center
			$borderRadius(5px)
			padding 10px
			font-family $buttonFont
			cursor pointer
			margin 0 0 0 750px
		.justSaved
			background $csLightGreen
	.addNpc
		background $csGreen
		color white
		font-size 1.8em
		text-align center
		$borderRadius(5px)
		padding 20px
		margin 20px 0 50px 0
		font-family $buttonFont
		cursor pointer
	
.article
	display none
	top 20%
	margin 0 auto
	width 900px
	height 360px
	overflow auto
	background url($cloudPath + 'img/bg/grey.png') #efefef
	position fixed
	$borderRadius(5px)
	padding 20px
	cursor pointer

.buffer
	position fixed
	display none
	top 0
	left 0
	background #222
	background rgba(0,0,0,.7)
	width 100%
	height 100%

.levelFilter
	position fixed
	top 150px
	left 0px
	background rgba(100,100,100,0.5)
	margin 0
	padding 0
	p 
		margin 0
		text-align right
		padding 10px 20px
		cursor pointer
		font-family $buttonFont
		font-size 1.5em
		color #fff
		border 2px solid #fff
	.current
		background $csOrange