@font-face
	font-family 'InconsolataMedium'
	src $cloudUrl('fonts/Inconsolata-webfont.woff') format('woff'),
		$cloudUrl('fonts/Inconsolata-webfont.ttf') format('truetype')
	font-weight normal
	font-style normal

#gameboard
	// cursor none
	position relative
	box-sizing content-box
	width 960px
	height 480px
	margin 0 auto
	padding 0
	border 4px solid #222
	z-index 0
	background #eee
	color #333
	-webkit-touch-callout none
	user-select none
	cursor default
	.cutSceneBg
		background black
		width 960px
		height 480px
		display none
		position absolute
		z-index 9999
		top 0
		left 0
		.cutScene
			position absolute
			width 960px
			height 480px
	.defeatedRobot
		text-align center
	.bossArea .bossButton a
		color white

#loading
	margin 150px 0 0 0
	text-align center
	color #222

.gameboard-overlay
	display none
	position absolute
	top 15px
	left 15px
	width 930px
	height 450px
	z-index 9999
	padding 20px
	background #efefef
	background-image $cloudUrl('img/bg/grey.png')
	box-shadow $csUIDropShadow
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
		background-image $cloudUrl('img/bg/grey@2x.png')
		background-size 397px
	h2
		color $csBlue
		font-size 2em
	h3
		color $csGreen
	a, .close-overlay
		i.fa // Font-Awesome X 'close' button
			position absolute
			top 12px
			right 12px
			font-size 36px
	&.background-3
		background-image $cloudUrl('img/bg/tri.png')
		@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)
			background-image $cloudUrl('img/bg/tri@2x.png')
			background-size 188px
	.buttons
		position absolute
		z-index 9994
		bottom 20px
		left 0
		width 100%
		height 30px
		button
			display inline-block
			margin 0 auto
		.left
			position absolute
			left 20px
			button
				margin 0 10px 0 0
		.right
			position absolute
			right 20px
			button
				margin 0 0 0 16px
	.check
		display none
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba(255,255,255,0.75)
		z-index 10000
		.check-dialog
			position absolute
			left 280px
			top 140px
			width 360px
			height auto
			min-height 60px
			padding 14px
			text-align center
			color $csLightGray
			background $csPurple
			box-shadow $csUIDropShadow
			.buttons
				position relative
				margin-top 30px
				margin-bottom -20px
				height 32px
				button
					margin 0 auto
				.right
					position absolute
					right 0px
				.left
					position absolute
					left 0px
		.check-skimpy
			display none

.content-box
	height 320px
	padding 16px
	overflow auto
	border 3px solid $csGray
	background-color #eee
	user-select text
	cursor text

.scrollable
	overflow auto

#botanist-area
	z-index 9990
	&.puzzle-mode
		height 390px
		.tangram-area
			top 20px
	.dialog
		// See also .dialog at .resourceArea
		padding-right 50px
	.seedChips
		margin-top 30px
		text-align center
	.tangram-area
		position absolute
		top 40px
		left 0
		height 360px
		padding 0
		z-index 9992
		display none
		.puzzle-svg
			position absolute
			top 0
			left 0
			width 930px
			height 380px
		path
			cursor -webkit-grab
			cursor -moz-grab
			&.dragging
				cursor -webkit-grabbing
				cursor -moz-grabbing
		.trash
			position absolute
			top 170px
			right -6px
			&.active
				opacity 0.5
	textarea
		max-height 300px
		height 300px

#resource-area
	.resource-content
		display none
		.tangram
			position absolute
			bottom 120px
			left 0
			width 100%
			height 250px
			img
				margin-left 45px
				height 250px
		.tagline-input
			position absolute
			left 0
			bottom 50px
			width 100%
			text-align center
			input
				width 400px
	.resource-responses
		display none
		ul
			font-family $buttonFont
			margin 0
			li.response
				position relative
				padding 14px 140px 5px 14px
				margin 10px 0
				min-height 42px
				background $csLightGreen
				color #222
				list-style none
				span
					margin-right 5px
					color white
				p
					// Prevent extremely long words from breaking the box.
					overflow hidden
					text-overflow ellipsis
				.public-button, .private-button, .pledge-button
					position absolute
					right 10px
					bottom 10px
					i.fa
						margin-left 6px
						color $csDarkBlue
				&.response-notice
					background: $csLightGray
			li.your-response
				user-select text
				cursor text
				background $csLightBlue
	.dialog
		padding-right 50px
		margin-bottom 20px
	.question
		font-size 1.2em
		color $csBlack
	.privacy-message
		color $csOrange
	.resource-article
		display none
		margin-right 30px  // And not overlap the X button
		height 360px
		padding 20px
		border 3px solid $csGray
		background #333
		overflow auto
		color #eee
		user-select text
		cursor text
		h1, h2, h3, h4, h5, h6
			// Allow all size headers to be used in resource text
			// Verify line-height issues with these.
			color $csBlue
			margin-bottom 0.5em
		h2
			// This is default. The line-height override fixes multiple line issues.
			line-height 1.4em
		p, blockquote, li
			// Shouldn't have to set these properties that specifically for the parent
			// div - something is overriding it.
			font-family $buttonFont
			font-size 1.1em
		p + h2, ul + h2, blockquote + h2
			margin-top 0.75em
		ul
			list-style-type square
		li
			margin 5px 20px
		.videoResource
			text-align center
			background $cloudUrl('img/bg/loading.png') no-repeat center center
			margin-top 18px     // Ideally, vertically centered. Fake it till you make it
		.digitalStory
			margin 150px 0 0 0  // Fake vertical centering
			font-size 1.5em
			text-align center
		.lede
			margin 90px 60px 0
			font-size 1.5em
			line-height 1.4em
			text-align center
	.resource-question
		display none
		form
			margin 20px 0 0
		textarea
			width 100%
			min-height 200px
			padding 10px
		input[type='radio']
			// Somewhere the alignment is actually incorrect
			margin 0 10px 0 20px
			line-height 24px
		label
			// Overrides display: block elsewhere (bootstrap?)
			display inline-block

#resource-stage
	display none

.progressArea
	h2
		color $csGreen
		font-size 3.5em
	.personalInfo
		position absolute
		left 20px
		bottom 20px
		width 280px
		height 330px
		padding 10px
		// border 3px solid $csLightOrange
		background $csGray
		color white
		.levelImages img
			margin 7px
			border 2px solid rbga(0,0,0,0)
		.resourcesCollected
			position absolute
			top 220px
			left 20px
			font-size 1.5em
		.numCollected
			position absolute
			font-family $buttonFont
			top 280px
			right 20px
			font-size 2em
		.currentLevel
			position absolute
			width 230px
			font-size 1.4em
			line-height 1.4em
			text-align left
			left 20px
			top 90px
		.currentLevelImage
			border 2px solid $csLightOrange
		.collectedButton
			position absolute
			top 275px
			left 20px

	.tabbable
		position absolute
		// Hack
		bottom 42px
		left 325px
		width 310px
		height 360px
		margin 0
		padding 0
		ul.nav.nav-tabs
			margin 0
			border 0
			li
				margin 0
				padding 0
				width 155px
			li a
				font-family $bodyFont
				font-size 1.2em
				border 0
				color white
				text-align center
			li.tabYou, li.active.tabYou, li.active.tabYou a, li.tabYou a:hover
				margin 0
				background $csLightOrange
				border 0
			li.tabEveryone, li.active.tabEveryone, li.active.tabEveryone a, li.tabEveryone a:hover
				margin 0
				background $csOrange
				border 0
		.tab-content
			p
				color #fff
				position absolute
			.displayTime, .displayPercent
				font-family $buttonFont
				font-size 1.3em
				top 326px
			.displayTime
				left 10px
			.displayPercent
				right 10px
			.timeTitle
				top 352px
				left 10px
				color #efefef
			.percentTitle
				top 352px
				right 10px
				color #efefef
		#tab1, #tab2
			width 310px
			height 350px
			background $csLightOrange
		#tab2
			background $csOrange
		// 	width 310px
		// 	height 350px
		.colorMapYou,
		.colorMapEveryone
			position absolute
			top 50px
			left 12px
			background #fff
			width 284px
			height 264px
		.colorMapYou img
			width 284px
		.colorMapEveryone img
			position absolute
			width 284px
		.displayPercent
			position absolute
			top 200px
			left 10px
	.topSeeders
		position absolute
		bottom 20px
		right 20px
		width 250px
		height 330px
		background $csLightGreen
		color #333
		overflow auto
		p
			font-size 1.2em
			color white
			text-align center
			padding 5px 0 5px 0
			background $csGreen
		ol
			padding-left 15px
			li
				font-family $buttonFont
				font-size .8em
		.yourSeeds
			font-family $buttonFont
			color $csGreen
			background none
			border none
			padding 0px
			bottom 0
			margin 10px 0 0 0px

.collectedResources
	box-shadow none
	.backToProgress
		position absolute
		bottom 20px
		left 20px
	.displayMyAnswers
		height 320px
		.theQuestion
			font-size 1.1em
		.theAnswer
			position relative
			margin 15px 0
			font-family $buttonFont
			background $csLightGreen
			.seededCount
				position absolute
				top 6px
				right 6px
				font-family $buttonFont
				background $csPurple
				padding 3px
				border-radius 4px
				line-height 1
				color #fff
			.answerText
				width 780px
				padding 5px 10px
	// .playerAnswers
	// 	color #222
	// 	list-style none
	// 	padding 5px 5px 5px 10px
	// 	margin 15px 15px 10px 15px
	// 	position relative
	// 	background #dedede
	// 	background $csLightGreen

.dialog
	.speaker
		font-size 1.2em
		font-weight 700
		color $csBlue
		&::after
			content ':'
			margin-right 0.25em   // Workaround for minifier which will trim whitespace from the ': ' string

.skinventory
	.parts
		margin-bottom 10px
		text-align center
		.part
			// margin 0 auto 10px
			margin 0 0 10px 14px
			.outer
				cursor pointer
				float left
				position relative
				// bugged
				// display inline-block
				width 60px
				height 100%
				margin-right 20px
				padding 10px
				border 3px solid $csLightGray
				background-color #f4f4f4
				.badge-new
					display none
					position absolute
					top -8px
					right -8px
					font-size 18px
					color $csYellow
				.inner
					width 32px   // Lock in at width of sprite
					height 100%
					margin 0 auto
					font-size 1.5em
					text-align center
					color $csBlue
					i  // Overrides font-awesome line-height
						line-height inherit !important
				&:not(.locked):hover
					border 3px solid $csGreen
					background-color white
				&:last-of-type
					margin-right 0
			.locked
				&:hover
					i
						color $csRed
			.equipped
				border 3px solid $csDarkGreen
				background-color white
		.head
			height 54px
			.inner
				line-height 30px                // Positioning for lock
				background-position 0 0         // Positioning for sprite
		.torso
			height 42px
			.inner
				line-height 18px                // Positioning for lock
				background-position 0 -30px     // Positioning for sprite
		.legs
			height 42px
			.inner
				line-height 18px                // Positioning for lock
				background-position 0 -45px     // Positioning for sprite

// END LARGE OVERLAYS

.megaRiddle
	width 780px
	margin-left 20px
	max-height 343px
	overflow auto
	border 3px solid $csGray
	background #eee


.newDislpay
	background $csLightOrange


.player-chat
	position absolute
	z-index 100
	padding 5px 10px
	font-size 16px
	font-family $mono
	line-height 1.4
	white-space nowrap
	background rgba(0,0,0,0.75)
	color #eee
	//background rgba(255,255,255,0.75)
	//color $csBlack
	//border 3px solid $csLightGray
	border-radius 20px

.centerText
	text-align center

.inventory,
.seedventory
	position absolute
	bottom 15px
	left 15px
	width 930px
	height 60px
	background rgba(50,50,50,0.9)
	padding 0
	z-index 9999
	display none
	button
		position absolute
		bottom 15px
		right 15px

.seedventory
	padding-left 10px
	font-size 24px
	.seed
		display inline-block
		position relative
		margin 20px 20px 0 10px
		width 48px
		cursor pointer
		color #333             // default seed button color is empty
		&.active
			color #eee           // color for active seeds
		&.selected
			color $csOrange      // color for selected seed


.graffiti
	position absolute
	display none
	bottom 15px
	left 15px
	width 125px
	height 36px
	background rgba(50,50,50,0.9)
	z-index 9999
	font-size 24px
	cursor pointer
	p
		color white
		padding 5px 10px 5px 10px
		span
			color $csLightGreen
			text-align right
			float right

.inventory > .outlines,
.inventory > .pieces
	position absolute
	top 0
	left 0
	height 99%
	width 100%

#speech-bubble
	display none
	z-index 9999
	position absolute
	top 20px
	left 20px
	width 920px
	padding 14px
	background #efefef
	color #222
	box-shadow $csUIDropShadow
	.dialog
		margin 0
		padding 0
		&.fit
			width 760px
	button
		display none
		float right
		margin 0 6px

canvas
	position absolute
	cursor none

#background
	z-index 0

#characters
	z-index 2

#foreground
	z-index 3

#interface
	z-index 4

#minimapTile
	z-index 5
	right 0px
	background rgba(20,20,20,0.3)
	display none

#minimapPlayer
	background rgba(20,20,20,0.8)
	z-index 5
	right 0px

.debug p
	float left
	margin-left 20px

.hud
	margin-top 20px
	margin-bottom 4px
	-webkit-touch-callout none
	user-select none
	.hud-button
		position relative
		display inline-block
		width 48px
		height 48px
		margin 0 10px
		font-size 20px
		text-align center
		line-height 48px
		background-color #f1f1f1
		box-shadow 0 0 0 4px $csLightGray
		border-radius 50%
		cursor pointer
		&:hover
			box-shadow 0 0 0 4px $csLightGreen
			background-color white
			color $csOrange
		a
			display block
			height 100%
			width 100%
			color $csDarkBlue
	.hud-button-highlight
		box-shadow 0 0 0 4px $csOrange
	.hud-button-active
		background white
		box-shadow 0 0 0 4px $csGreen
	.hud-regular
		margin-left -10px
		.hud-global
			text-align right
		.hud-chat
			padding-top 8px
			input
				border 2px solid $csLightGray
				background white
				&:focus
					border 2px solid $csGreen
					box-shadow none

.pauseMenu
	position absolute
	top 15px
	left 15px
	width 930px
	height 450px
	background $cloudUrl('img/bg/maze.png') #efefef
	box-shadow $csUIDropShadow
	padding 0
	z-index 9999
	display none

.pauseMenu p
	text-align center, Sans-serif
	color #222
	font-size 2em
	margin-top 100px

#chatButton
	margin-left 10px
	background #333

.riddleText
	position absolute
	top 40px
	left 10px
	width 220px
	color #999
	font-size .8em
	font-family $buttonFont

#botanist-area .answerButton, #botanist-area .clearBoardButton, #botanist-area i
	z-index 9999

.chatBox input
	width 75%
	font-size 16px, monospace

textarea
	font-family $buttonFont
	width 800px
	height 150px
	max-width 800px
	max-height 200px
	resize none

.hide
	display none

.badge
	// Used only on buttons on HUD and seedventory
	display none
	position absolute
	top -12px
	right -4px
	padding 3px
	border-radius 4px
	font-family $buttonFont
	line-height 1.2em
	color #333
	background-color $csYellow

.waitingForSeed
	width 32px
	height 32px
	z-index 99999
	position absolute
	display none

.buttonCorner
	position absolute
	bottom 10px
	right 6px

.inventoryItem.puzzle0,
.inventoryItem.puzzle1,
.inventoryItem.puzzle2,
.inventoryItem.puzzle3
	float right
	margin-right 100px

.inventoryOutline
	float left
	margin 12px 0 10px 20px
	width 32px
	height 32px
	border 1px dashed gray

.inventoryItem
	float left
	margin 12px 0 10px 20px
	width 32px
	height 32px
	cursor pointer
	border 1px solid rgba(0,0,0,0)

.gameCursor
	position absolute
	width 24px
	height 24px
	border 4px dashed green

.hooray
	position absolute
	background #ccc
	width 960px
	height 480px
	z-index 9999

.hooray p
	margin-top 100px
	font-size 2em
	text-align center

.hoorayVideo
	text-align center;

.message
	font-family $bodyFont


.firstRiddle
	width 60%
	font-size: 1.4em
	line-height: 1.4em
	margin 40px auto
	// text-align center

p.townSite
	font-size 1.4em
	margin 150px 100px 0 100px

.hideLock
	display none

.demoProfile
	p, li
		color #333
	h1
		color $csBlue
	h2
		color $csBlue
	.demoUserPlayLink
		margin 30px 0 30px 0
		a
			background $csGreen
			padding 10px
			color white

.miniExample
	text-align center

.inventoryHelp
	position absolute
	right 5px
	top 12px
	text-align center
	line-height 1.2em
	width 110px
	color #eee
	font-family $buttonFont
	display none

#beaming
	display none
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	background $cloudUrl('img/game/teleport.gif') #eee no-repeat center center
	background-size cover
	z-index 99999

#game-log
	width 100%
	height 200px
	background #333
	// background rgba(50,50,50,0.9)
	margin-bottom 80px

#game-log-overlay
	display none
	position absolute
	left 20px
	bottom 20px
	width 500px
	height 120px
	background rgba(50,50,50,0.3)
	text-shadow 1px 1px 0 $csBlack

#game-log, #game-log-overlay
	z-index 4000
	overflow-y auto
	overflow-x hidden
	text-overflow ellipsis
	padding 10px
	p
		padding 0
		margin 2px
		font-family $buttonFont
		.date
			color $csLightBlue
			font-family $mono
			font-size .8em
			margin-right 8px
		.playerName
			color $csLightGreen
			margin-right 4px
	p.globalChat
		color #fff
	p.status
		color $csLightOrange

.status-update
	display none
	position absolute
	bottom 90px
	width 100%
	text-align center
	font-size 16px
	font-family $buttonFont
	height 20px
	margin 0
	z-index 99999
	color #eee
	span
		background rgba(0,0,0,0.75)
		padding 5px 10px

.npc-bubble
	position absolute
	z-index 9000
	width 32px
	height 32px
	font-family $mono
	text-align center
	line-height 32px
	border-radius 50%
	background rgba(50,50,50,0.7)
	color $csLightGreen
	cursor pointer

.bossArea
	z-index 9997
	display none
	.content
		.videoFrame
			margin 20px 0 0 0
			text-align center
			background $cloudUrl('img/bg/loading.png') no-repeat center center
		p
			padding 0 20px
		.resumeQuestion
			color $csPurple
		.resumeAnswer
			span
				color $csOrange
		textarea
			margin 0 20px 20px 20px
			height 100px
	p.dialog   // TODO: Deprecrate in favor of generic .dialog style?
		padding-top 10px
		span
			font-size 1.1em
			font-weight 700
			font-family $buttonFont
			color $csBlue
.minilab
	float left
	margin-right 20px
	margin-bottom 10px

.detailedInstructions
	line-height 32px

.bossBox
	cursor pointer
	width 48px
	height 36px
	line-height 36px
	margin-right 10px
	margin-left 10px
	background #ccc
	// background rgba(0,0,0,.2)
	position relative
	text-align center
	&:hover
		box-shadow 0 0 2px 2px rgba(0,0,0,.5)
.bossHud
	display none
	.clock
		color $csBlue
		font-size 1.5em
		font-family	$buttonFont
		text-align center
		line-height 36px
	.score
		text-align right
		line-height 36px
		color $csOrange
		font-size 1.2em
	.muteButton
		float left

.labBackground
	background $cloudUrl('img/game/lab_bg.png') no-repeat center center

.tooltip
	font-family $buttonFont
	font-size 13px

svg.tangram-svg
	// see also .puzzle-svg
	width 100%
	height 250px
