.welcome
	span
		margin 0 0 0 10px
		
.demoUserPlayLink
	font-size 1.5em

.introduction
	iframe
		margin-top 20px
	p
		margin-top 50px
		a
			background $csGreen
			padding 20px
			border-radius 5px
			color white
			font-size 1.5em