.demoUserPlayLink
	font-size 1.5em

.introduction
	iframe
		margin-top 20px
	p
		margin-top 50px
		a
			background $csGreen
			padding 20px
			border-radius 5px
			color white
			font-size 1.5em
.welcome
	text-align center
	margin-bottom 40px
	h1
		font-size 1.5em
		color $csGray
	h4 
		font-size 2.5em
		color $csGreen
		font-family $buttonFont