.demoUserPlayLink
	font-size 1.5em

.introduction
	iframe
		margin-top 10px
		margin-bottom 20px

.homepage
	margin-bottom 30px
	.welcome
		h1
			font-size 3em
			font-family $cursiveFont
			color $csGreen
			text-align center
			line-height 1.4
		h4
			font-size 1.5em
			font-weight 400
			color $csLightGreen
			font-family $bodyFont
			text-align center
			margin-bottom 30px
		p
			font-size 1.2em
			text-align justify
			color $csGray
	.go-to-profile
		margin-top 20px
		width 100%
	#login-form
		input
			margin 10px 0
			width 100%
		button, p    // Stylistic override spacing
			margin-top 10px

.about
	color $csGray
	font-size 1.2em
	margin-bottom 80px
	.about-tag
		text-align center
		h1
			color $csOrange
			font-size 1.6em
			font-style italic
			line-height 1.4em
	h2
		text-align center
		color $csGreen
		font-weight 400
		font-size 1.6em
		margin-top 1.2em
		margin-bottom 0.5em
	.video
		text-align center
		margin 1.2em 0
	.creators
		margin-top 2em
