.demoProfile 
	h1
		color $csGreen
	p, li
		font-family $buttonFont
		font-size 1.2em

.headerRow
	padding 20px 0 0 0
.withPlayer
	text-align center
	img 
		padding 5px 10px
		border 4px solid $csGray
		border-radius 5px

.nombre
	font-family $bodyFont
	font-weight 700
	font-size 3.5em
	color $csGray
	padding 0 0 15px 0
.school
	font-family $bodyFont
	font-weight 300
	font-size 2em
	color $csLightGray2
.box
	padding 20px 0 0 0
	p
		font-size 1.7em
		font-weight 700 
		font-family $buttonFont
		line-height 1.2
	.profileTitle 
		padding 0 10px 0 0
		font-family $bodyFont
		font-weight 700
		font-size 1.5em
	.resumeText
		-webkit-user-modify read-write
		-moz-user-modify read-write
		font-weight 700
.motivations
	.profileTitle
		color $csLightGreen2
	p 
		color $csGreen
.background
	.profileTitle
		color $csLightOrange2
	p 
		color $csOrange
.goals
	.profileTitle
		color $csLightGray2
	p 
		color $csGray
.objectives
	.profileTitle
		color $csLightBlue2
	p
		color $csBlue



.info
	background #000
	text-align center

.info
	display none
	img
		margin: 10px 0;	
		max-width: 128px;
		max-height: 128px;
	
	table {
		tr, td {
			border: none;
			color: #666;
		}
		td:nth-child(odd) {
			text-align: right;
		}
		td:nth-child(even) {
			text-align: left;
		}
	}

h3.linkage {
	color: #ccc;
	font-size: 1.5em;
	margin-top:10px;
}
.buttonResume
	margin-top 30px
	a 
		font-size 1.5em
		line-height 1.5em
		background $csGreen
		color white
		padding 10px
		border-radius 5px

p a.survey
	background $csGreen
	padding 10px
	$borderRadius(5px)
	color white

.instructions
	margin-top 30px
	p 
		font-size 1.3em

.saveProfileChanges
	border-radius 5px
	background $csGreen
	color white
	font-size 1.5em
	font-family $buttonFont
	width 180px
	padding 10px
	text-align center
	margin 20px auto
	cursor pointer

.profileToggle
	color $csBlue
	cursor pointer
	i 
		float right
	p
		text-align right
		clear both

.feedback
	cursor pointer
	.clickForFeedback
		color white
		width 18%
		text-align center
		padding 5px 
		text-align center
		font-family $buttonFont
		font-size 1.4em
		background $csPurple
		border-radius 5px
		margin 0
	.row 
		border-radius 5px
		margin 10px 20px 0 0
		display none
		background $csPurple
		color white
		padding 10px 10px 0 10px
	.hideth
		display block