.goals {
	background: $csBlue;
	$borderRadius(6px)
}
.box {
	p {
		padding: 10px;
	}
	h2 {
		padding: 10px;
		font-size: 1.5em;	
	}
}
.profiles > .row {
	margin 10px 0px 20px 0px
}

.profiles > .row > div {
	margin 0
}

.profiles {
	h1, h2, p {
		color: #222;
	}
}
.motivations {
	background: $csGreen;
	$borderRadius(6px)
}
.values {
	background: $csPurple;
	$borderRadius(6px)
}
.background {
	background: $csOrange;
	$borderRadius(6px)
}
.info {
	background: #ccc;
	$borderRadius(6px)
	text-align: center;
}
.info {
	img {
		margin: 10px 0;	
		max-width: 280px;
		max-height: 280px;
	}
	table {
		tr, td {
			border: none;
			color: #666;
		}
		td:nth-child(odd) {
			text-align: right;
		}
		td:nth-child(even) {
			text-align: left;
		}
	}
}
h1.nombre {
	color: #aaa;
}
h3.linkage {
	color: #ccc;
	font-size: 1.5em;
	margin-top:10px;
}
.buttonResume 
	margin 20px 0
	a
		font-size 1.5em
		line-height 1.5em
		color white
	padding 10px