.goals {
	background: $csYellow;
	$borderRadius(6px)
}
.box > h2, .box > p {
	padding: 10px;
}
.profiles > .row {
	margin-top: 10px;
	margin-bottom: 20px;
}
.profiles h1,
.profiles h2,
.profiles p {
	color: #fff;
}
.motivations {
	background: $csLightGreen;
	$borderRadius(6px)
}
.values {
	background: $csDarkGreen;
	$borderRadius(6px)
}
.background {
	background: $csOrange;
	$borderRadius(6px)
}
.info {
	background: #aaa;
	$borderRadius(6px)
	text-align: center;
}
.info > img {
	margin: 10px 0;	
	max-width: 280px;
	max-height: 280px;
}
h1.nombre {
	color: #aaa;
}