//CIVIC SEED VALUES
$csGray = #999999
$csGreen = #4cd4ce
$csBlue = #0e98d4
$csLightBlue = #81c7e5
$csPurple = #373b6d
$csOrange = #ec7129
$csLightOrange = #f7c100
$csLightGreen = #a2f0e9
$csLightOrange2 = #f8c4a6
$csLightGreen2 = #b3ece9
$csLightBlue2 = #7bc9eb 
$csLightGray2 = #c2bfbf

$mono = 'InconsolataMedium', monospace
$bodyFont = 'Arvo', serif
$buttonFont = 'Nunito', serif

$textOutline()
	text-shadow: 
		1px 1px #333,
		-1px 1px #333,
		-1px -1px #333,
		1px -1px #333
