$borderRadius($arguments)
	-webkit-border-radius $arguments
	border-radius $arguments
	-moz-background-clip padding
	-webkit-background-clip padding-box
	background-clip padding-box

$boxShadow($arguments)
	-webkit-box-shadow $arguments
	box-shadow $arguments

$backgroundGradient(start, end)
	background-color start
	background-image -webkit-gradient(linear, left top, left bottom, from(start), to(end))
	background-image -webkit-linear-gradient(top, start, end)
	background-image -moz-linear-gradient(top, start, end)
	background-image -o-linear-gradient(top, start, end)
	background-image linear-gradient(to bottom, start, end)

$rotate(degree)
	-webkit-transform rotate(7.5deg)
	-moz-transform rotate(7.5deg)
	-ms-transform rotate(7.5deg)
	-o-transform rotate(7.5deg)
	transform rotate(7.5deg)

$scale($arguments)
	-webkit-transform scale($arguments)
	-moz-transform scale($arguments)
	-ms-transform scale($arguments)
	-o-transform scale($arguments)
	transform scale($arguments)

$transition($arguments)
	-webkit-transition $arguments
	-moz-transition $arguments
	-o-transition $arguments
	transition $arguments

//CIVIC SEED VALUES
$csGray = #999999
$csGreen = #4cd4ce
$csBlue = #0e98d4
$csLightBlue = #81c7e5
$csPurple = #373b6d
$csOrange = #ec7129
$csLightOrange = #f7c100
$csLightGreen = #a2f0e9
$csLightOrange2 = #f8c4a6
$csLightGreen2 = #b3ece9
$csLightBlue2 = #7bc9eb 
$csLightGray2 = #c2bfbf

$mono = 'InconsolataMedium', monospace
$bodyFont = 'Arvo', serif
$buttonFont = 'Nunito', serif

$textOutline()
	text-shadow: 
		1px 1px #333,
		-1px 1px #333,
		-1px -1px #333,
		1px -1px #333
