//CIVIC SEED VALUES
$csBlack  = #222
$csGray   = #999999
$csPurple = #373b6d
$csOrange = #FFB47C
// $csGreen = #aaea91
$csGreen  = #a7e495
$csBlue   = #79CCCE

$csLightPurple = lighten($csPurple, 70%)
$csLightOrange = lighten($csOrange, 25%)
$csLightGreen  = lighten($csGreen, 25%)
$csLightBlue   = lighten($csBlue, 25%)

$csDarkOrange  = darken($csOrange, 20%)
$csDarkGreen   = darken($csGreen, 20%)
$csDarkBlue    = darken($csBlue, 20%)

$csLightOrange2 = #f8c4a6
$csLightGreen2  = #b3ece9
$csLightBlue2   = #7bc9eb
$csLightGray2   = #c2bfbf

$csUIDropShadow = 0 2px 4px 4px rgba(0,0,0,0.3)

$mono        = 'InconsolataMedium', monospace
$bodyFont    = 'Arvo', serif
$cursiveFont = 'Satisfy', serif
$buttonFont  = 'Nunito', serif