.monitor
.DS_Store
Thumbs.db
node_modules
*.sublime-*
/client/static/assets/
/data/map/expanded/
/models/_temp/
/controllers/_temp/
/controllers/game/_temp/
/client/static/audio/music/temp.mp3
/config*.json
/_HIDDEN/
/modules/utils/password.js