# OS or Editor folders
.DS_Store
Thumbs.db

# IGNORING
.monitor
.nodemonignore
node_modules
package.development
package.testing
package.production
CivicSeed.sublime-project
CivicSeed.sublime-workspace
info.txt
/client/static/assets/
/data/map/expanded/
/models/_temp/
/controllers/_temp/
/controllers/game/_temp/
README.md