.monitor
.DS_Store
Thumbs.db
node_modules
*.sublime-*
#/client/static/assets/
/data/map/expanded/
/models/_temp/
/server/controllers/_temp/
/server/controllers/game/_temp/
/client/static/audio/music/temp.mp3
/config.json
/config_*.json
_*.wav
/_HIDDEN