@charset 'utf-8'

// Import external boilerplate stylesheets
@import 'vendor/normalize.css'
@import 'vendor/main.css'

// Import Font Awesome - http://fontawesome.io/
// When upgrading, replace the precompiled css files and change references to font files from '../fonts/' to '/fonts/' - No other changes should be necessary
@import 'vendor/font-awesome.min.css'

// Import Civic Seed styles
@import 'globals/variables'
@import 'globals/mixins'
@import 'bootstylus/bootstrap'
@import 'libs/alerts'
@import 'globals/game'
@import 'globals/pages'
@import 'globals/profiles'
@import 'globals/admin'
@import 'globals/custom'
