//- Gameboard boss overlay

#boss-area.gameboard-overlay
  .dialog
    span.speaker
    span.message
  .boss-introduction.video
  .boss-resumes
    .content-box
  .boss-instructions
    include ../content/boss-instructions
  .boss-win.video
  .buttons
    button.boss-button.btn.btn-success(type='button') Next
