//- Gameboard botanist overlay

#botanist-area.gameboard-overlay.background-3
  .dialog
    span.speaker
    span.message
  .botanist-content
  .botanist-puzzle
  .buttons
    .left
      button.back-button.btn.btn-info(type='button') Back
      button.clear-button.btn.btn-info(type='button') Clear Board
    .right
      button.next-button.btn.btn-success(type='button') Next
      button.answer-button.btn.btn-success(type='button') Answer
      button.save-button.btn.btn-success(type='button') Save
      button.close-button.btn.btn-primary(type='button') Close
  .check
    .check-dialog
      .feedback
      .buttons
        button.retryButton.btn.btn-primary(type='button') Okay
  a.close-overlay(href='')
    i.fa.fa-times-circle.fa-lg

