//- Gameboard collected resources overlay

#collected-resources.gameboard-overlay.background-3
  h2 Your Answers

  .displayMyAnswers.content-box You haven't collected any resources yet.

  button.btn.back-button.btn-info(type='button') Back
