//- Gameboard help overlay

#help-area.gameboard-overlay

  h2 How To Play

  .content-box
    include ../content/help

  .buttons
    .right
      button.close-button.btn.btn-primary(type='button') Close

  a.close-overlay(href='')
    i.fa.fa-times-circle.fa-lg
