//- Gameboard skinventory overlay

#skinventory.gameboard-overlay.background-3
  h2 Changing Room
  p Customize your suit! Mix and match different parts to create your look.  Unlock more pieces by talking to other characters in the world.
  .parts
    .part.head(data-part='head')
    .part.torso(data-part='torso')
    .part.legs(data-part='legs')
  .skinformation
    h3 You're wearing
    p Nothing!
  a.close-button(href='')
    i.fa.fa-times-circle.fa-lg
