// NOTE. This is a heavily modified version of the CSS for Apprise (http://thrivingkings.com/apprise)
//       to use CivicSeed styles.

.appriseOverlay
  position fixed
  top 0
  left 0
  background-color rgba(255,255,255,0.75)
  display none

.appriseOuter
  position fixed
  display none
  z-index 99999999
  min-width 360px
  min-height 60px
  max-width 75%
  margin-top 10%
  box-shadow $csUIDropShadow

.appriseInner
  color $csLightGray
  background $csPurple
  padding 14px
  text-align center
  button
    border 0
    background-color $csOrange
    color white
    height 32px
    cursor pointer
    &:hover
      box-shadow 0 0 0 3px $csLightGray
  buttonhover
    color #d85054

.aButtons, .aInput
  text-align center
  margin 20px 10px 0

.aButtons
  button + button
    margin-left 0.8em

.aTextbox
  border 1px solid #aaa
  -moz-border-radius 4px
  -webkit-border-radius 4px
  border-radius 4px
  -khtml-border-radius 4px
  box-shadow 0 1px 0 #fff
  -moz-box-shadow 0 1px 0 #fff
  -webkit-box-shadow 0 1px 0 #fff
  width 180px
  font-size 12px
  font-weight 700
  padding 5px 10px
