include _header

.row
  .col-md-10.col-md-offset-1
    #admin-export.console

      .console-content

        p Click on a button below to export data.

        .row
          .col-sm-3
            button.btn(data-type='user') Users
              .spinner
          .admin-instructions.col-sm-9
            p
        .row
          .col-sm-3
            button.btn(data-type='game') Game
              .spinner
          .admin-instructions.col-sm-9
            p
        .row
          .col-sm-3
            button.btn(data-type='color') Colors
              .spinner
          .admin-instructions.col-sm-9
            p
        .row
          .col-sm-3
            button.btn(data-type='chat') Chat
              .spinner
          .admin-instructions.col-sm-9
            p
        .row
          .col-sm-3
            button.btn(data-type='botanist') Botanist
              .spinner
          .admin-instructions.col-sm-9
            p
        .row
          .col-sm-3
            button.btn(data-type='npc') NPC
              .spinner
          .admin-instructions.col-sm-9
            p
