.row
	.span10.offset1.back-to-admin
		a(href='/admin')
			i.fa.fa-arrow-circle-o-left.fa-lg
			| back

.row
	.span10.offset1
		h1 Create New Game

		h4 <span class='color-darkorange'>#{environment} Environment</a>

.row
	.span10.offset1
		#admin-invites.console

			.console-content

				h3 Create a new group of up to 20 invites.

				p <strong class='color-darkblue'>Note.</strong> If more than 20 emails are entered, only the first 20 will be used.

				form.form-horizontal

					p
					//- p(style='font-size:12px') <em>ALSO NOTE: if you have previously sent invites, this new send will cancel and invalidate those invites.

					//- div.control-group
					//- 	label.control-label(for='sessionName') Session Name:
					//- 	div.controls
					//- 		input#sessionName.span4(type='text', placeholder='Give this session a name...')
					div.control-group
						label.control-label(for='emailList') Game Name:
						div.controls
							input#instanceName.span4(style='margin-bottom: 20px', placeholder='ex. Tufts Round 1')
							//- textarea#emailList.span4(rows='6', placeholder='Enter a list of comma-separated email addresses...')
						label.control-label(for='emailList') Email Addresses:
						div.controls
							textarea#emailList.span4(rows='6', placeholder='ex. russell@engagementgamelab.org, russell@russellgoldenberg.com, russell_goldenberg@emerson.edu, samuel.a.liberty@gmail.com, thebookofrobert@gmail.com, langbert@gmail.com, arxpoetica@gmail.com')
					div.control-group

						div.controls
							//- .btn-success
							button#inviteCodesBtn.btn(type='button') Create and Send Invites

					//- p Select an existing session to apply an action:

					//- div.control-group
					//- 	label.control-label(for='sessionSelect') Existing Session:
					//- 	div.controls
					//- 		//- textarea#emailList(rows='6', class='span4', placeholder='Enter a list of email addresses...')
					//- 		select#sessionSelect.span4
					//- 			//- {{#each invitees}}
					//- 			//- 	option value='{{this}}'>{{this}}
					//- 			//- {{/each}}
					//- 		button#deleteCodesBtn.btn.btn-mini.btn-danger(type='button') Delete Session
					//- 		button#resendCodesBtn.btn.btn-mini.btn-info(type='button') Resend Invite Emails

					pre#inviteCodes.hidden
