.console
	h1 Site Administration
	ul
		- if(sessionStorage.userRole === 'superadmin')
			li: a(href="/admin/startup") Startup
		li: a(href="/admin/invitecodes") Invite Codes
		li: a(href="/admin/monitor") Monitor
