.console
	h1 Site Administration
	ul
		li: a(href="/admin/startup") Startup

		- if(sessionStorage.userRole === 'superadmin')
			li: a(href="/admin/invitecodes") Invite Codes
		li: a(href="/game") Main Game
