.row
	.col-md-10.col-md-offset-1
		h1 Site Administration

		h4 <span class='color-darkorange'>#{environment} Environment</a>

.row
	.col-md-10.col-md-offset-1
		#admin-panel.console

			.console-content
				- if(sessionStorage.userRole === 'superadmin')
					.row
						.col-md-2
							a.btn(href='/admin/startup') Startup
						.admin-instructions.col-md-6
							p Initializes all data.
					.row
						.col-md-2
							a.btn(href='/admin/npcs') NPCs
						.admin-instructions.col-md-6
							p Sets NPC interaction and speech content.
				.row
					.col-md-2
						a.btn(href='/admin/invitecodes') Invite Codes
					.admin-instructions.col-md-6
						p Begins a new game and sends invite codes to players.
				.row
					.col-md-2
						a.btn(href='/admin/monitor') Monitor
					.admin-instructions.col-md-6
						p Look at information on current games.
