<div class="console">
	<h1>Startup</h1>
	<h2>Database Initialization</h2>
	<h4>{{nodeEnv}} Environment</h4>

	<div id="dataLoaders" class="loader">
		<button id="userLoadBtn" class="btn" data-type="users">Preload Users</button>
		<button id="tileLoadBtn" class="btn" data-type="tiles">Preload Tiles</button>
		<button id="gnomeLoadBtn" class="btn" data-type="npcs">Preload Gnome &amp; NPCs</button>
		<button id="gameLoadBtn" class="btn" data-type="game">Preload Game</button>
		<button id="resourcesLoadBtn" class="btn" data-type="resources">Preload Resources</button>
		<pre>{{consoleOutput}}</pre>
	</div>
</div>