.console
	h1 Startup
	h2 Database Initialization
	h4 #{nodeEnv} Environment

	div#dataLoaders.loader
		button#userLoadBtn.btn(data-type='users') Preload Users
		button#tileLoadBtn.btn(data-type='tiles') Preload Tiles
		button#gnomeLoadBtn.btn(data-type='npcs') Preload Gnome &amp; NPCs
		button#gameLoadBtn.btn(data-type='game') Preload Game
		//- button#resourcesLoadBtn.btn(data-type='resources') Preload Resources
		button#chatLoadBtn.btn(data-type='chat') Delete Chat Logs
		//- pre #{consoleOutput}
