.console
	h1 Startup
	h2 Database Initialization
	h4 #{nodeEnv} Environment

	div#dataLoaders.loader
		button#userLoadBtn.btn(data-type='users') Users
		button#gameLoadBtn.btn(data-type='game') Game
		button#gameLoadBtn.btn(data-type='colors') Colors		
		button#chatLoadBtn.btn(data-type='chat') Chat
		button#tileLoadBtn.btn(data-type='tiles') Tiles (hard)
		button#botanistLoadBtn.btn(data-type='botanist') Botanist (hard)
		//- button#npcLoadBtn.btn(data-type='npcs') NPC *super caution*
		
		//- button#resourcesLoadBtn.btn(data-type='resources') Preload Resources
		//- pre #{consoleOutput}
