//- Gameboard canvas

canvas#background(width='960px', height='480px')
canvas#characters(width='960px', height='480px')
canvas#foreground(width='960px', height='480px')
canvas#interface(width='960px', height='480px')
canvas#minimap-tile.minimap(width='142px', height='132px')
canvas#minimap-player.minimap(width='142px', height='132px')
canvas#minimap-radar.minimap(width='142px', height='132px')
