//- Gameboard seedventory UI

#seedventory
  .seed.regular-button
    i.fa.fa-leaf.fa-lg(title='regular seed', data-placement='top')
    span.badge.always-show
  .seed.draw-button
    i.fa.fa-star.fa-lg(title='paintbrush seed', data-placement='top')
    span.badge.always-show
  button.close-button.btn.btn-primary(type='button') Close
