//- Gameboard NPC speech bubble UI
//- NOT player speech bubble.

#speech-bubble
  .dialog
    span.speaker
    span.message
  .buttons
    button.next-button.btn.btn-success(type='button') Next
    button.close-button.btn.btn-primary(type='button') Okay
    button.no-button.btn.btn-primary(type='button') Close
    button.yes-button.btn.btn-success(type='button') View
