//- Gameboard waiting for seed indicator

#waiting-for-seed.spinner
  //- GIF-based spin loader deprecated in favor of a CSS-based one.
  // img(src='#{CivicSeed.CLOUD_PATH}/img/game/spinloader.gif')
