.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			
			a.brand(href='/') Civic Seed

			- if(sessionStorage.userName)
				.btn-group.pull-right
					a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
						i.icon-user &nbsp;#{sessionStorage.userName}&nbsp;
						span.caret
					ul.dropdown-menu
						li: a(href='') Profile
						li.divider
						li.signOut: a(href='/signout') Sign Out


			#mainNavigation.nav-collapse
				- if(locals && locals.fullPath)
					style
						#mainNavigation a[href='#{locals.fullPath}'] {
							color: #dce12f;
							text-decoration: none;
							background-color: #555555;
						}
				ul.nav
					li: a(href='/') Home
					li: a(href='/about') About
					li: a(href='/profiles') Profiles
					li: a(href='/contact') Contact Us

					- if(sessionStorage.userRole === 'superadmin' || sessionStorage.userRole === 'admin')
						li: a(href='/admin') Admin Console
