<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">Civic Seed</a>

			{{#user}}
			<div class="btn-group pull-right">
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					<i class="icon-user"></i> {{name}}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="">Profile</a></li>
					<li class="divider"></li>
					<li class="signOut"><a href="/signout">Sign Out</a></li>
				</ul>
			</div>
			{{/user}}

			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#game">Profiles</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>