nav.navbar.navbar-default.navbar-fixed-top.no-print
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a(href='/')
        img.logo(src='#{CivicSeed.CLOUD_PATH}/img/logo.png')

    .navbar-collapse.collapse.navbar-right
      ul.nav.navbar-nav
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/profiles') Profiles
        li: a(href='/contact') Contact us
        - if(sessionStorage.userRole === 'superadmin' || sessionStorage.userRole === 'admin')
          li: a(href='/admin') Admin console
        - if(sessionStorage.userFirstName)
          li.dropdown
            button.dropdown-toggle(data-toggle='dropdown')
              i.fa.fa-user
              span.username #{sessionStorage.userFirstName}
              span.caret
            ul.dropdown-menu
              li: a(href='/game/') Resume game
              li.divider
              li: a(href='/profiles/' + sessionStorage.profileLink) My profile
              li: a(href='/resume/' + sessionStorage.profileLink) My civic resume
              li.divider
              li
                a.dropdown-sign-out(href='/signout') Sign out
  .zag

