.navbar.navbar-default.navbar-fixed-top.no-print
	.container-fluid
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-navigation')
				span.icon-bar
				span.icon-bar
				span.icon-bar

			a.navbar-brand(href='/')
				img(src='#{CivicSeed.CLOUD_PATH}/img/other/logo.jpg')
				| Civic Seed

		#main-navigation.navbar-collapse.collapse

			- if(sessionStorage.userFirstName)
				ul.nav.navbar-right
					li.dropdown
						button.dropdown-toggle(data-toggle='dropdown')
							i.fa.fa-user
							span.username #{sessionStorage.userFirstName}
							span.caret
						ul.dropdown-menu
							//- li: a(href='/profiles') Profiles
							//- li.divider
							li.dropdown-sign-out: a(href='/signout') Sign Out

			ul.nav.navbar-nav.navbar-right
				li: a(href='/') Home
				li: a(href='/about') About
				li: a(href='/profiles') Profiles
				li: a(href='/contact') Contact Us
				- if(sessionStorage.userRole === 'superadmin' || sessionStorage.userRole === 'admin')
					li: a(href='/admin') Admin Console

	.zag

