.navbar.navbar-fixed-top.no-print
	.navbar-inner
		.container-fluid.navPadding
			a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			
			a.brand(href='/') Civic Seed

			- if(sessionStorage.userFirstName)
				.btn-group.pull-right.tempFixMargin
					a.btn.btn-primary.dropdown-toggle(data-toggle='dropdown', href='#')
						i.icon-user 
							span &nbsp;#{sessionStorage.userFirstName}&nbsp;
						span.caret
					ul.dropdown-menu
						//- li: a(href='/profiles') Profiles
						//- li.divider
						li.signOut: a(href='/signout') Sign Out


			#mainNavigation.nav-collapse
				- if(locals && locals.fullPath)
					style
						#mainNavigation a[href='#{locals.fullPath}'] {
							text-decoration: none;
						}
				ul.nav
					li: a(href='/') Home
					li: a(href='/about') About
					li: a(href='/profiles') Profiles
					li: a(href='/contact') Contact Us

					- if(sessionStorage.userRole === 'superadmin' || sessionStorage.userRole === 'admin')
						li: a(href='/admin') Admin Console
