#master-npc-instructions
  .dialog
    span.speaker
    span.message.
      Salutations! I have something very important for you, but first,
      you must choose your path by selecting one of the three host communities:
      Chinatown, Medford, or Somerville. The three friendly folks standing
      behind me are Hampton, Goose, and Zeebo.
      <strong class='color-blue'>Hampton</strong> will tell you about <strong class='color-darkorange'>Chinatown</strong>.
      <strong class='color-blue'>Goose</strong> will tell you about <strong class='color-darkorange'>Medford</strong>.
      <strong class='color-blue'>Zeebo</strong> will tell you about <strong class='color-darkorange'>Somerville</strong>.
      Once you've talked to one of those peeps, come back and talk to me!

  #community-npcs
    .npc.hampton
      .npc-image
      .npc-name Hampton
      .community-name Chinatown
    .npc.goose
      .npc-image
      .npc-name Goose
      .community-name Medford
    .npc.zeebo
      .npc-image
      .npc-name Zeebo
      .community-name Somerville
