#master-npc-instructions
  .dialog
    span.speaker
    span.message.
      PLACEHOLDER MESSAGE: Talk to Hampton, Goose or Zeebo! They are the three
      stooges standing right behind me. Each of them are a representative of a
      different community. Choose one to talk to and learn about their community
      and then come back to me.
