#master-npc-instructions
  .dialog
    span.speaker
    span.message.
      PLACEHOLDER MESSAGE (SAM LIBERTY YOU HAVE TO WRITE THIS)
      Talk to Hampton, Goose or Zeebo! They are the three
      stooges standing right behind me. Each of them are a representative of a
      different community. Choose one to talk to and learn about their community
      and then come back to me.

  #community-npcs
    .npc.hampton
      .npc-image
      .npc-name Hampton
      .community-name Chinatown
    .npc.goose
      .npc-image
      .npc-name Goose
      .community-name Medford
    .npc.zeebo
      .npc-image
      .npc-name Zeebo
      .community-name Somerville
