.profiles
	h1 Public Profiles
	p Below is a list of all users who have chosen to make their profile publicly available.
	each user in users
		p	
			a(href='profiles/' + user.profileLink)= user.firstName + ' ' + user.lastName
