.row.civic-resume
  .col-md-10.col-md-offset-1

    if !firstName
      h1 This person does not exist in our database.
    else
      if (sessionStorage.userEmail !== email)
        h1 This is not your resume. You cannot view it.
      else

        include _user-header
