.row.civic-resume
  .col-md-10.col-md-offset-1

    if !firstName
      h1 This person does not exist in our database.
    else
      if (sessionStorage.userEmail !== email)
        h1 This is not your resume. You cannot view it.
      else

        include _user-header

        .resume-content
          .row
            .col-xs-12.col-sm-3.resume-headings
              h3 vision
            .col-xs-12.col-sm-8.resume-text
              p Cupcake ipsum dolor sit amet chocolate halvah oat cake. Soufflé biscuit lemon drops biscuit liquorice donut icing. Toffee pastry brownie dessert chocolate dragée toffee. Cake jelly marzipan sweet jelly brownie candy canes applicake powder.

          .row
            .col-xs-12.col-sm-3.resume-headings
              h3 education
            .col-xs-12.col-sm-8.resume-text
              ul
                li Boston College, MA 2011
                li Miami University, BA 2007
                li Marblehead High School, 2003

          .row
            .col-xs-12.col-sm-3.resume-headings
              h3 background
            .col-xs-12.col-sm-8.resume-text
              p Macaroon cookie gingerbread. Donut chupa chups bear claw icing marshmallow cotton candy. Candy fruitcake dessert pudding cotton candy topping pie. Gummi bears apple pie marzipan gingerbread sesame snaps jelly. Bonbon candy halvah. Chocolate liquorice wafer pastry jelly lollipop chocolate cake. Danish wafer caramels chupa chups chocolate bar toffee. Sweet roll jelly-o cake sweet jelly-o. Brownie liquorice marzipan dragée candy canes.

          .row
            .col-xs-12.col-sm-3.resume-headings
              h3 experience
            .col-xs-12.col-sm-8.resume-text
              ul
                li Something
                li Another thing
                li And another thing

          .row
            .col-xs-12.col-sm-3.resume-headings
              h3 skills
            .col-xs-12.col-sm-8.resume-text
              ul
                li Punkin’ chunkin’
                li Mythbusting
                li Wheel spinning
                li Math

          .row.footer
            .col-sm-12
              img(src='#{CivicSeed.CLOUD_PATH}/img/profile/seal.png', width=200, height=150)
