<!-- TODO: push this up to our stylesheets... -->
<style>
.console {
	margin: 25px auto;
	padding: 25px;
	width: 800px;
	background: #eee;
	box-shadow: 3px 3px 3px #999;
}
.loaders {
	margin: 12px 0;
}
</style>

<div class="console">
	<h1>Admin</h1>
	<h2>{{message}}</h2>
	<!-- <h2>Database Initialization</h2> -->
	<!-- {{#if nodeEnv}}<h4>{{nodeEnv}} Environment</h4>{{/if}} -->
	<div class="loader">
		<label>
			<span id="newSessionText">
				Create a new group of 30 invite codes:
				<input id="sessionName" type="text" placeholder="Give this session a name...">
			</span>
			<span id="alterSessionText" class="hidden">Recreate/alter this existing group of invite codes: </span>
		</label>
		<label>
			Select a new or existing session to create:
			<select id="sessionSelect">
				<option value="new">New session/group</option>
				{{#each invitees}}
				<option value="{{this}}">Alter session/group {{this}}</option>
				{{/each}}
			</select>
		</label>
		<button id="inviteCodesBtn" class="btn">Create Invite Codes</button>
		<pre id="inviteCodes" class="hidden"></pre>
	</div>
</div>

{{#extend "scripts"}}
<script>
(function($) {

	$('#sessionSelect').on('change', function(event) {
		var select = $(this);
		var val = select.val();
		$('#inviteCodesBtn').removeClass('btn-success');
		if(val === 'new') {
			$('#newSessionText').removeClass('hidden');
			$('#alterSessionText').addClass('hidden');
		} else {
			$('#alterSessionText').removeClass('hidden');
			$('#newSessionText').addClass('hidden');
		}
	});

	$('#inviteCodesBtn').on('click', function(event) {
		var button = $(this);
		var val = $('#sessionSelect').val();
		var sessionName;
		var url;
		var date;
		if(val === 'new') {
			sessionName = document.getElementById('sessionName').value;
			sessionName = sessionName.replace(/ /g, '.')
			if(sessionName === '') {
				date = new Date();
				sessionName = 'session.' + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
				sessionName += '.' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
			}
			url = '/admin/action/create-invite-codes/' + sessionName;
		} else {
			url = '/admin/action/recreate-invite-codes/' + val;
		}
		// console.log(sessionName);
		// button.removeClass('btn-success');
		$.ajax({
			url: url,
			success: function(data) {
				// window.responseData = data;
				// console.log(data.message);
				$('#inviteCodes').text(data.join()).removeClass('hidden');
				button.addClass('btn-success');
			}
		});
	});

})(jQuery);
</script>
{{/extend}}