{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/admin.css"/>
{{/extend}}

<div class="console">
	<h1>Admin</h1>
	<h2>{{message}}</h2>
</div>

{{#extend "scripts"}}
<script src="/js/admin.js"></script>
{{/extend}}