{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/admin.css"/>
{{/extend}}

<div class="console">
	<h1>Site Administration</h1>
	<!-- <h2>{{message}}</h2> -->
	<ul>
		<li><a href="/admin/startup">Startup</a></li>
		<li><a href="/admin/invitecodes">Invite Codes</a></li>
	</ul>
</div>

{{#extend "scripts"}}
<script src="/js/admin.js"></script>
{{/extend}}