{{#extend "stylesheets"}}
<link rel="stylesheet" href="/css/admin.css"/>
{{/extend}}

<div class="console">
	<h1>Startup</h1>
	<h2>Database Initialization</h2>
	{{#if nodeEnv}}<h4>{{nodeEnv}} Environment</h4>{{/if}}

	<div id="dataLoaders" class="loader">
		<button id="userLoadBtn" class="btn" data-type="users">Preload Users</button>
		<button id="tileLoadBtn" class="btn" data-type="tiles">Preload Tiles</button>
		<button id="gnomeLoadBtn" class="btn" data-type="npcs">Preload Gnome &amp; NPCs</button>
		<pre>{{consoleOutput}}</pre>
	</div>
</div>

{{#extend "scripts"}}
<script src="/js/admin.js"></script>
{{/extend}}