@font-face {
    font-family: 'InconsolataMedium';
    src: url('Inconsolata-webfont.woff') format('woff'),
         url('Inconsolata-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.gameboard{
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 480px;
	padding: 0;
	border-radius: 5px;
	border: 2px solid #222;
	z-index:0;
	background:#eee;
}
.resourceStage {
	display:none;	
}

.resourceArea{
	position: absolute;
	top:15px;
	left:15px;
	width: 930px;
	height: 450px;
	background: rgba(30,30,30,.8);
	padding: 0;
	border-radius: 5px;
	z-index:9999;
	display:none;
}

.inventory{
	position: absolute;
	bottom:15px;
	left:15px;
	width: 930px;
	height: 60px;
	background: rgba(30,30,30,.8);
	padding: 0;
	border-radius: 5px;
	z-index:9999;
	display:none;
}

.resourceArea h2, .resourceArea p {
	color:white;
	text-shadow: 1px 1px 1px #222;
	padding:10px 10px 0px 15px;
	
}

.nextButton, .answerButton, .closeButton {
	position: absolute;
	bottom:20px;
	right:20px;
}

.backButton {
	position: absolute;
	bottom:20px;
	left:20px;
}
.resourceArea a i {
	position: absolute;
	top:10px;
	right:10px;
}
.resourceArea form {
	padding:20px;
}
.speechBubble{
	position: absolute;
	top:10px;
	left:10px;
	width: 920px;
	max-height: 55px;
	background: rgba(30,30,30,.7);
	border-radius: 5px;
	z-index:9999;
	display:none;
	color: white;
	padding:10px;
	text-shadow: 1px 1px 1px #333;
}

.speakerName {
	color: #ccff33;
}
.speechBubble button {
	margin: 0 10px;
}
#background,#foreground,#characters,#npcs,#minimapPlayer, #minimapTile{
	position: absolute;
}
#background{
	z-index: 0;
}
#npcs{
	z-index: 1;
}
#characters{
	z-index: 2;
}
#foreground{
	z-index: 3;
}

#minimapTile{
	z-index: 4;
	right:0px;
	background: rgba(20,20,20,.3);
}
#minimapPlayer {
	z-index: 5;
	right:0px;
}
.hud{
	margin-top: 20px;
}
.debug p{
	float:left;
	margin-left:20px;
}
.playerButtons {
	cursor: pointer;
}
.playerButtons div {
	float: left;
}

.videoResource {
	text-align: center;

}
.playerChat {
	position: absolute;
	font-family: 'InconsolataMedium', Sans-serif;
	font-size: 16px;
	width: 200px;
	height: 20px;
	background: rgba(30,30,30,.7);
	border-radius: 5px;
	padding:0 0 5px 10px;
	z-index:9999;
	color:white;
	text-shadow: 1px 1px 1px #333;
}
.pauseMenu {
	position: absolute;
	top:15px;
	left:15px;
	width: 930px;
	height: 450px;
	background: rgba(30,30,30,.8);
	padding: 0;
	border-radius: 5px;
	z-index:9999;
	display:none;
}
.pauseMenu p{
	text-align: center;
	font-family: 'InconsolataMedium', Sans-serif;
	color: white;
	font-size: 2em;
	margin-top: 100px;

}
.inventoryButton {
	width:32px;
	margin-right:20px;
}
.inventory button {
	bottom: 15px;
	right:10px;
}
.inventoryItem {
	float: left;
	padding: 15px;
}
.inventoryItem img {
	padding: 0;
	margin: 0;
	width: 32px;
	cursor:pointer;
}