.gameboard{
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: 480px;
	padding: 0;
	border-radius: 5px;
	border: 2px solid #222;
	z-index:0;
}
.resourceArea{
	position: absolute;
	top:15px;
	left:15px;
	width: 930px;
	height: 450px;
	background: rgba(30,30,30,.7);
	padding: 0;
	border-radius: 5px;
	z-index:9999;
	display:none;
}

.resourceArea h2, .resourceArea p {
	color:white;
	text-shadow: 1px 1px 1px #222;
	padding:10px 10px 0px 15px;
	
}

.nextButton, .answerButton, .closeButton {
	position: absolute;
	bottom:20px;
	right:20px;
}

.backButton {
	position: absolute;
	bottom:20px;
	left:20px;
}
.resourceArea a i {
	position: absolute;
	top:10px;
	right:10px;
}
.resourceArea form {
	padding:20px;
}
.speechBubble{
	position: absolute;
	top:10px;
	left:10px;
	width: 940px;
	height: 55px;
	background: rgba(30,30,30,.5);
	padding: 0;
	border-radius: 5px;
	z-index:9999;
	display:none;
}
.speechBubble p {
	color: white;
	padding:10px;
	text-shadow: 1px 1px 1px #333;
}
.speakerName {
	color: #ccff33;
}
.speechBubble button {
	margin: 0 10px;
}
#background,#foreground,#characters,#npcs,#minimapPlayer, #minimapTile{
	position: absolute;
}
#background{
	z-index: 0;
}
#npcs{
	z-index: 1;
}
#characters{
	z-index: 2;
}
#foreground{
	z-index: 3;
}

#minimapTile{
	z-index: 4;
	right:0px;
	background: rgba(20,20,20,.3);
}
#minimapPlayer {
	z-index: 5;
	right:0px;
}
.hud{
	margin-top: 20px;
}
.debug p{
	float:left;
	margin-left:20px;
}
.playerButtons {
	cursor: pointer;
}

