.gameboard {
  width: 960px;
  height: 480px;
  background: url(../img/game/world.png);
  margin: 0 auto;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
  transition-property: background-position-y, background-position-x;
  transition-duration: 1s;
  transition-timing: linear;
  -webkit-transition-property: background-position-y, background-position-x;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing: linear;
  -moz-transition-property: background-position-y, background-position-x;
  -moz-transition-duration: 1s;
  -moz-transition-timing: linear;
}
.gameboard-left {
  background-position-x: 2000px;
  background-position-y: 2000px;
}
.gameboard-right {
  background-position-x: 2000px;
  background-position-y: 2000px;
}
.gameboard-up {
  background-position-x: 2000px;
  background-position-y: 2300px;
}
.gameboard-down {
  background-position-x: 2000px;
  background-position-y: 2000px;
}
.hud {
  margin-top: 20px;
}
.cursor {
  width: 28px;
  height: 28px;
  border: 2px dashed red;
  position: absolute;
}
