.border-radius(x) {
	-border-radius: x;
}
.goals {
	background: @csYellow;
	.border-radius(10px);
}
.box > h2, .box > p {
	padding: 10px;
}
.profiles > .row {
	margin-top: 10px;
	margin-bottom: 20px;
}
.motivations {
	background: @csLightGreen;
	.border-radius(10px);	
}
.values {
	background: @csDarkGreen;
	.border-radius(10px);
}
.background {
	background: @csOrange;
	.border-radius(10px);
}