.gameboard
	canvas#background(width='960px', height='480px')
	canvas#npcs(width='960px', height='480px')
	canvas#characters(width='960px', height='480px')
	canvas#foreground(width='960px', height='480px')
	canvas#minimapTile(width='142px', height='132px')
	canvas#minimapPlayer(width='142px', height='132px')
	p.loading Loading...
	.resourceArea
		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large
		p.dialog
			span.speakerName
			span.message
		.resourceContent
		.resourceContentBody
		button.nextButton.btn.btn-success(type='button') Next
		button.backButton.btn.btn-info(type='button') Back
		button.answerButton.btn.btn-success(type='button') Answer
		button.closeButton.btn.btn-primary(type='button') Close
		.check
			p Are you sure? That seems a bit skimpy...
			button.sureButton.btn.btn-success(type='button') I'm Sure
			button.retryButton.btn.btn-primary(type='button') I'll Add More
		.feedback

	div.gnomeArea
		p.dialog
			span.speakerName
			span.message
		
		div.gnomeContent
		div.tangramArea
			p.feedback
			
		button.nextButton.btn.btn-success(type='button') Next
		button.backButton.btn.btn-info(type='button') Back
		button.answerButton.btn.btn-success(type='button') Answer
		button.closeButton.btn.btn-primary(type='button') Close
		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large
	div.progressArea.patternBg2
		h2 Progress
		div.personalInfo
			.levelImages
				img(src='/img/game/rank/0.png').currentLevelImage
				img(src='/img/game/rank/1.png')
				img(src='/img/game/rank/2.png')
				img(src='/img/game/rank/3.png')
			p.currentLevel novice gardener
			p.resourcesCollected resources collected:
			p.numCollected 12/40
			button.btn.collectedButton.btn-success(type='button') View Answers
				
		.tabbable
			ul.nav.nav-tabs
				li.active.tabYou
					a(href='#tab1', data-toggle='tab') you
				li.tabEveryone
					a(href='#tab2', data-toggle='tab') everyone
			.tab-content
				.tab-pane.active#tab1
					.colorMapYou
						img(src='')
					p.displayTime
					p.timeTitle time played
						
				.tab-pane#tab2
					.colorMapEveryone
						img(src='')
					p.displayPercent
					p.percentTitle colored

		.topSeeders

		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large

		.collectedResources.patternBg3
			h2 Your Answers
			button.btn.backToProgress.btn-info(type='button') Back
			.displayMyAnswers
			
		
	div.helpArea
		h2 How to Play
		h3 Goal:
		p To restore color to the world of Calliope by planting color seeds 
		h3 Gameplay:
		p There are four levels. Each level you must visit the botanist who will give you a riddle.  To solution to the riddle is in the form of a puzzle.
		p To collect puzzle pieces, you must go around the world and talk to the locals.  The locals are strange and will ask you questions before handing over a piece.  If answered correctly, they might also give you small seeds to plant.
		p Once you have collected the pieces, you must return to the botanist to solve the puzzle.  After doing so, he gives you a few mega seeds and might ask for some information about you in return.
		h3 Tools:
		p The game dashboard has all the tools you need. You can re-visist a resource you collect from the locals by looking in your inventory.  To plant seeds, use the seed button. To chat with other players, click the chat input button.  You can also see game progress information, toggle the audio, and toggle the player map in the top corner.
	div.inventory
		div.outlines
		div.pieces
		button.closeButton.btn.btn-primary(type='button') Close
	div.seedventory
		.normalButton
			i.icon-leaf.icon-large(title='regular seed', data-placement='top')
			span.badge.hudCount
		.riddleButton
			i.icon-asterisk.icon-large(title='mega seed', data-placement='top')
			span.badge.hudCount
		.specialButton
			i.icon-star.icon-large(title='mystery seed', data-placement='top')
			span.badge.hudCount
		
	div.speechBubble
		p
			span.speakerName
			span.message
		div.buttonCorner
			button.nextChatButton.hideButton.btn.btn-success(type='button') Next
			button.closeChatButton.hideButton.btn.btn-primary(type='button') Close
			button.noButton.btn.hideButton.btn-primary(type='button') Close
			button.yesButton.btn.hideButton.btn-success(type='button') View
	
	div.pauseMenu
		p please re-focus your mind, body, and the window...
		p
			button.unPause.btn.btn-success(type='button') Resume Game
	div.waitingForSeed
		img(src='/img/game/spinloader.gif')