<div class="gameboard">
	<canvas id="background" width="960px" height="480px"> </canvas>
	<canvas id="npcs" width="960px" height="480px" ></canvas>
	<canvas id="characters" width="960px" height="480px" ></canvas>
	<canvas id="foreground" width="960px" height="480px" ></canvas>
	<canvas id="minimapTile" width="142px" height="132px" ></canvas>
	<canvas id="minimapPlayer" width="142px" height="132px" ></canvas>
	<div class="resourceArea">
		<button class="nextButton btn btn-success" type="button">Next</button>
		<button class="backButton btn btn-primary" type="button">Back</button>
	</div>
	<div class="speechBubble"></div>
	<div class="pauseMenu">
		<p>please re-focus your mind, body, and the window...</p>
		<p><button class="unPause btn btn-success" type="button">Resume Game</button></p>
	</div>
</div>
