.gameboard
	canvas#background(width='960px', height='480px')
	canvas#npcs(width='960px', height='480px')
	canvas#characters(width='960px', height='480px')
	canvas#foreground(width='960px', height='480px')
	canvas#minimapTile(width='142px', height='132px')
	canvas#minimapPlayer(width='142px', height='132px')
	.loading
		p
			img(src='/img/game/loader.gif')
		p loading
	.resourceArea
		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large
		p.dialog
			span.speakerName
			span.message
		.resourceContent
		.resourceContentBody
		button.nextButton.btn.btn-success(type='button') Next
		button.saveButton.btn.btn-success(type='button') Save
		button.backButton.btn.btn-info(type='button') Back
		button.answerButton.btn.btn-success(type='button') Answer
		button.closeButton.btn.btn-primary(type='button') Close
		.check
			p Are you sure? That seems a bit skimpy...
			button.sureButton.btn.btn-success(type='button') I'm Sure
			button.retryButton.btn.btn-primary(type='button') I'll Add More
		.checkTagline
			p You must create a custom tagline...
		.feedback

	div.botanistArea
		p.dialog
			span.speakerName
			span.message
		
		div.botanistContent
		div.tangramArea
			p.feedback
			
		button.nextButton.btn.btn-success(type='button') Next
		button.backButton.btn.btn-info(type='button') Back
		button.answerButton.btn.btn-success(type='button') Answer
		button.closeButton.btn.btn-primary(type='button') Close
		button.clearBoardButton.btn.btn-info(type='button') Clear Board
		
		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large
	div.progressArea.patternBg2
		h2 Progress
		div.personalInfo
			.levelImages
				img(src='/img/game/rank/0.png').currentLevelImage
				img(src='/img/game/rank/1.png')
				img(src='/img/game/rank/2.png')
				img(src='/img/game/rank/3.png')
			p.currentLevel novice gardener
			p.resourcesCollected resources collected:
			p.numCollected 12/40
			button.btn.collectedButton.btn-success(type='button') View Answers
				
		.tabbable
			ul.nav.nav-tabs
				li.active.tabYou
					a(href='#tab1', data-toggle='tab') you
				li.tabEveryone
					a(href='#tab2', data-toggle='tab') everyone
			.tab-content
				.tab-pane.active#tab1
					.colorMapYou
						img(src='')
					p.displayTime
					p.timeTitle time played
						
				.tab-pane#tab2
					.colorMapEveryone
						img(src='')
					.displayPercent
						.progress
							.bar
					p.percentTitle world color meter

		.topSeeders

		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large

		.collectedResources.patternBg3
			h2 Your Answers
			button.btn.backToProgress.btn-info(type='button') Back
			.displayMyAnswers
			
		
	div.helpArea
		h2 How To Play
		.helpContent	
			p The goal of the game is to fully color return color to the world, which starts in grayscale. To do this, you must explore, talk to the Calliopeans you see, answer their questions, plant seeds, and solve the Enigma Civica.

			h3 The Game Display
			p You can see and interact with the game through your display. This consists of the view screen, the Status Bar, and the Display Icons.
			
			h3 The View Screen
			p This shows you the portion of the world you are in, along with any other characters that are in the same location. At the upper right hand corner of the map, you can see a mini map. All players, including you, appear on the mini map as little white dots. The mini-map tells you roughly where you are in the world. The large white block near the center of the mini map represents the Botanist’s Garden. You must return here at the end of each level to solve the puzzle.

			h3 The Status Bar
			p Beneath the view screen, you can see the status bar. This tells you useful information, like what level you’re on, when you’ve entered a new area of the world, and when other players interact with you. The Status Bar can be converted into a chat box by clicking the speech bubble icon in the display.

			h3 The Icons
			p The seven display icons each have unique functions.
			ul 
				li <i class='icon-briefcase icon-large'></i><b> Toolbox:</b> Open and close your inventory
				li <i class='icon-leaf icon-large'></i><b> Leaf:</b> Enter or exit seed mode
				li <i class='icon-comment icon-large'></i><b> Speech Bubble:</b> Enter or exit chat mode
				li <i class='icon-globe icon-large'></i><b> Globe:</b> Toggle mini map off and on
				li <i class='icon-desktop icon-large'></i><b> Computer Screen:</b> Show your progress. You can view your seed-planting, other players’ planting, review your answers, and see who’s in the lead.
				li <i class='icon-volume-up icon-large'></i><b> Speaker:</b> Turn music on or off
				li <i class='icon-question-sign icon-large'></i><b> Question Mark:</b> Launch help document

			h3 Exploring The World
			p To move your character, click anywhere on the screen. Your cursor will appear as a green box if it’s possible to move there. If it’s not possible to move there, the box will turn red. 

			h3 Interacting With Characters and Answering Questions
			p To interact with characters you see, click on that character. This opens up a dialogue box. Most characters will ask you a question and reward you with seeds and puzzle pieces for a right answer, but some share game pointers or offer other observations. When you answer questions correctly, you are rewarded with seeds. If the question was multiple choice, you receive fewer seeds for each wrong answer you submit, so read carefully!
			p By default, your answers are private. You can make them public by clicking the “make public” button next to your answer. An “unlock” icon will appear, indicating that others can read your answer. If you accidentally make an answer public, you can make it private again by clicking the “unlock” icon that appears.

			h3 Planting Seeds
			p To plant a seed, click the leaf icon at the bottom of your display. This puts you in “Seed-Planting Mode.” While you are in Seed-Planting Mode, you can plant a seed by clicking anywhere in the world. A patch of color the same shade as your character will appear. You just brought some color back to the world! To exit seed mode and resume exploring, click the leaf icon again.

			h3 Mega Seeds
			p Most characters reward you with regular seeds, but the Botanist gives you Mega Seeds which cover more and more area as you progress through the game. If you have any Mega Seeds, clicking the leaf icon brings up a menu of three choices. Click the leftmost icon to plant regular seeds. Plant the middle icon to plant Mega Seeds. The rightmost icon is a mystery you’ll have to uncover as you play and explore.

			h3 Interacting With Other Players
			p There are two ways you can interact with other players in the game. The first way is to chat with them. If you see another player (they’ll look just like you, but in a different color) you can chat with them. To do this, click on the speech bubble icon. This transforms the status bar into a chat box. Type your message and hit the “enter” key to chat. Clicking the speech bubble icon again exits chat mode.

			h3 Seed It!	
			p You can also grant bonus seeds to your fellow players. After you answer a question, you’ll see all answers that have been made public. If you like another player’s answer, click “Seed it!” to grant them a bonus seed. This bonus seed does not come from your supply, it’s a bonus seed awarded for excellent answers. These bonus seeds are always mega seeds. You may award up to five bonus seeds to other players each level, and you may award multiple bonus seeds to one response if you feel so inclined.

			h3 Solving The Enigma
			p The Enigma Civica is a civic engagement riddle asked by the Botanist. At the start of the game, you’ll see the Enigma in its entirety. The Enigma has four parts, which correspond with the four levels of the game. Each section of the riddle also includes a spacial puzzle. As you explore the world and answer questions, you’ll earn puzzle pieces, in addition to seeds, which you will use to answer solve the Enigma.
			p When you think you have enough puzzle pieces to solve the Enigma, return to the Botanist. He will show you the outline of the puzzle. You can then drag pieces from your inventory onto the puzzle. The text of the Enigma appears next to the puzzle. Look at the text for hints!
			p As long as there are any wrong pieces on the board, you cannot solve the riddle. To remove a puzzle piece from the board, drop it into the trash. 
			p When you think you’ve correctly solved the riddle, hit “Answer.” If you’re correct, you progress to the next level, and earn five mega seeds. For each time you answer incorrectly, you will receive one fewer mega seed. After you complete all four levels, the game is complete and you unlock your civic resume!

			h3 Your Inventory
			p Every time you answer a question correctly, you gain a puzzle piece. You can view the pieces you’ve collected at any time by clicking the toolbox icon on your display. From here, you can view the resources again by clicking the puzzle pieces,

			h3 Your Civic Resume
			p After each level, you will be prompted to fill in a section of your civic resume. At the end of the game, your resume is unlocked, enabling you to use it as a public tool for civic engagement. This lets everyone know that you have completed Civic Seed, and are certified by Tufts to engage with their host communities. It also lets organizations and the people you’ll work with understand you better, so your goals can be aligned.

		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large

	div.bossArea.patternBg2
		.content
		p.buttons
			button.bossButton.btn.btn-success(type='button') Next

	div.inventory
		div.outlines
		div.pieces
		button.closeButton.btn.btn-primary(type='button') Close
		p.inventoryHelp click piece to view resource

	div.gameLog
	p.statusUpdate

	div.seedventory
		.regularButton
			i.icon-leaf.icon-large(title='regular seed', data-placement='top')
			span.badge.hudCount
		.drawButton
			i.icon-star.icon-large(title='paintbrush seed', data-placement='top')
			span.badge.hudCount
	div.graffiti
		p seeds left: <span></span>
		
	div.speechBubble
		p
			span.speakerName
			span.message
		div.buttonCorner
			button.nextChatButton.hideButton.btn.btn-success(type='button') Next
			button.closeChatButton.hideButton.btn.btn-primary(type='button') Close
			button.noButton.btn.hideButton.btn-primary(type='button') Close
			button.yesButton.btn.hideButton.btn-success(type='button') View
	
	div.pauseMenu
		p please re-focus your mind, body, and the window...
		p
			button.unPause.btn.btn-success(type='button') Resume Game
	div.waitingForSeed
		img(src='/img/game/spinloader.gif')
	.beamMeUp