.gameboard
	canvas#background(width='960px', height='480px')
	canvas#npcs(width='960px', height='480px')
	canvas#characters(width='960px', height='480px')
	canvas#foreground(width='960px', height='480px')
	canvas#minimapTile(width='142px', height='132px')
	canvas#minimapPlayer(width='142px', height='132px')
	p.loading Loading...
	.resourceArea
		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large
		p.dialog
			span.speakerName
			span.message
		div.resourceContent
		button.nextButton.btn.btn-success(type='button') Next
		button.backButton.btn.btn-info(type='button') Back
		button.answerButton.btn.btn-success(type='button') Answer
		button.closeButton.btn.btn-primary(type='button') Close
		div.check
			p Are you sure? That seems a bit skimpy...
			button.sureButton.btn.btn-success(type='button') I'm Sure
			button.retryButton.btn.btn-primary(type='button') I'll Add More

	div.gnomeArea
		p.dialog
			span.speakerName
			span.message
		
		div.gnomeContent
		div.tangramArea
			p.feedback
			
		button.nextButton.btn.btn-success(type='button') Next
		button.backButton.btn.btn-info(type='button') Back
		button.answerButton.btn.btn-success(type='button') Answer
		button.closeButton.btn.btn-primary(type='button') Close
		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large
	div.progressArea
		h2 Progress Area
		.tabbable
			ul.nav.nav-pills
				li.active
					a(href='#tab1', data-toggle='tab') You
				li
					a(href='#tab2', data-toggle='tab') Everyone
			.tab-content
				.tab-pane.active#tab1
					div.personalInfo
					div.personalStats
					div.colorMap
						img(src='')

				.tab-pane#tab2
					div.megaBar
					div.topSeeders
					div.colorMapGroup

		a(href='#', style='font-size: 24px;')
			i.icon-remove-sign.icon-large
		
	div.helpArea
		h2 How to Play the Game (by Omar)
		p You either play the game or the game plays you. 
	div.inventory
		div.outlines
		div.pieces
		button.closeButton.btn.btn-primary(type='button') Close
	div.seedventory
		.normalButton
			i.icon-leaf.icon-large(title='regular seed', data-placement='top')
			span.badge.hudCount
		.riddleButton
			i.icon-asterisk.icon-large(title='mega seed', data-placement='top')
			span.badge.hudCount
		.specialButton
			i.icon-star.icon-large(title='mystery seed', data-placement='top')
			span.badge.hudCount
		
	div.speechBubble
		p
			span.speakerName
			span.message
		div.buttonCorner
			button.nextChatButton.hideButton.btn.btn-success(type='button') Next
			button.closeChatButton.hideButton.btn.btn-primary(type='button') Close
			button.noButton.btn.hideButton.btn-primary(type='button') Close
			button.yesButton.btn.hideButton.btn-success(type='button') View
	
	div.pauseMenu
		p please re-focus your mind, body, and the window...
		p
			button.unPause.btn.btn-success(type='button') Resume Game
	div.waitingForSeed
		img(src='/img/game/spinloader.gif')