.container.hud
	.row.regularGameHud.hud-regular
		.span4.hud-player
			.hud-button.inventoryButton
				a(title='(I)nventory', data-placement='top')
					i.fa.fa-briefcase.fa-lg
				span.badge
			.hud-button.skinventoryButton
				a(title='(C)hanging room', data-placement='top')
					i.fa.fa-user.fa-lg
				span.badge
			.hud-button.seedButton
				a(title='S(e)eds', data-placement='top')
					i.fa.fa-leaf.fa-lg
				span.badge.always-show
		.span4.hud-chat
			form.form-inline.chatBox
				input#chatText.input-xlarge(type='text', maxlength='90', placeholder='chat with other players...')
				button#chatButton.btn(type='submit') Chat
		.span4.hud-global
			.hud-button.hud-log-button
				a(title='Game log', data-placement='top')
					i.fa.fa-list.fa-lg
				span.badge
			.hud-button.progressButton
				a(title='(P)rogress', data-placement='top')
					i.fa.fa-desktop.fa-lg
			.hud-button.muteButton
				a(title='(V)olume', data-placement='top')
					i.fa.fa-volume-up.fa-lg
			.hud-button.helpButton
				a(title='(H)elp', data-placement='top')
					i.fa.fa-question-circle.fa-lg
	.row.bossHud.hud-boss
		.span4
			.hud-button.regularSeedButton.bossBox
				a(title='seeds', data-placement='top')
					i.fa.fa-leaf.fa-lg
				span.badge 20
			//- .drawSeedButton.bossBox
			//- 	i.fa.fa-star.fa-lg(title='seeds', data-placement='top')
			//- 	span.badge 20
		.span4
			p.clock 90
		.span3
			p.score score: <span>---</span>
		.span1
			.hud-button.muteButton.bossBox
				a(title='music', data-placement='top')
					i.fa.fa-volume-up.fa-lg

#game-log
