.container.hud
	.row
		.span4.playerHud
			.inventoryButton
				i.icon-briefcase.icon-large(title='toggle inventory', data-placement='bottom')
				p.hudCount 0
			.seedButton
				i.icon-leaf.icon-large(title='seeds', data-placement='bottom')
				p.hudCount 0
			.seedButton2
				i.icon-tint.icon-large(title='special seeds', data-placement='bottom')
				p.hudCount 0
			.chatButton
				i.icon-comment.icon-large(title='chat input', data-placement='bottom')
		.span4.displayHud
			form.form-inline.chatBox.hide
				input#chatText.input-xlarge(type='text', maxlength='90', placeholder='say something...')
				button#chatButton.btn(type='submit') Chat
			p.displayBox
				span.displayBoxText
		.span4.globalHud
			.helpButton
				i.icon-question-sign.icon-large(title='help', data-placement='bottom')
			.muteButton
				i.icon-volume-off.icon-large(title='toggle music', data-placement='bottom')
			.progressButton
				i.icon-desktop.icon-large(title='display progress', data-placement='bottom')
				p.hudCount 0%
			.activePlayers
				i.icon-globe.icon-large(title='active players', data-placement='bottom')
				p.hudCount 0
