#hud.container
	.row.hud-regular
		.span4.hud-player
			.hud-button.hud-inventory
				a(title='(I)nventory', data-placement='top')
					i.fa.fa-briefcase.fa-lg
				span.badge
			.hud-button.hud-skinventory
				a(title='(C)hanging room', data-placement='top')
					i.fa.fa-user.fa-lg
				span.badge
			.hud-button.hud-seed
				a(title='S(e)eds', data-placement='top')
					i.fa.fa-leaf.fa-lg
				span.badge.always-show
		.span4.hud-chat
			form.form-inline
				input#chat-input.input-xlarge(type='text', maxlength='90', placeholder='chat with other players...')
				button#chat-submit.btn(type='submit') Chat
		.span4.hud-global
			.hud-button.hud-log
				a(title='Game log', data-placement='top')
					i.fa.fa-list.fa-lg
				span.badge
			.hud-button.hud-progress
				a(title='(P)rogress', data-placement='top')
					i.fa.fa-desktop.fa-lg
			.hud-button.hud-mute
				a(title='(V)olume', data-placement='top')
					i.fa.fa-volume-up.fa-lg
			.hud-button.hud-help
				a(title='(H)elp', data-placement='top')
					i.fa.fa-question-circle.fa-lg
	.row.hud-boss
		.span4
			.hud-button.regularSeedButton
				a(title='seeds', data-placement='top')
					i.fa.fa-leaf.fa-lg
				span.badge 20
			//- .drawSeedButton.bossBox
			//- 	i.fa.fa-star.fa-lg(title='seeds', data-placement='top')
			//- 	span.badge 20
		.span4
			p.clock 90
		.span3
			p.score score: <span>---</span>
		.span1
			.hud-button.hud-mute
				a(title='music', data-placement='top')
					i.fa.fa-volume-up.fa-lg

#game-log.scrollable
