.container.hud
	.row.regularGameHud
		.span4.playerHud
			.inventoryButton
				i.icon-briefcase.icon-large(title='toggle inventory', data-placement='bottom')
				span.badge.hudCount
			.seedButton
				i.icon-leaf.icon-large(title='seeds', data-placement='bottom')
				span.badge.hudCount
			.logButton
				i.icon-reorder.icon-large(title='game log', data-placement='bottom')
				span.badge.hudCount.hide
		.span4.displayHud
			form.form-inline.chatBox
				input#chatText.input-xlarge(type='text', maxlength='90', placeholder='say something...')
				button#chatButton.btn(type='submit') Chat
		.span4.globalHud
			.helpButton
				i.icon-question-sign.icon-large(title='help', data-placement='bottom')
			.muteButton
				i.icon-volume-up.icon-large(title='toggle music', data-placement='bottom')
			.progressButton
				i.icon-desktop.icon-large(title='display progress', data-placement='bottom')
				span.badge.hudCount
			.activePlayers
				i.icon-globe.icon-large(title='active players', data-placement='bottom')
				span.badge.hudCount
	.row.bossHud
		p boss hud

