{{> header}}

	<header role="banner" class="clearfix header">
		<hgroup>
			<a href="" rel="home">
				<h1 class="logo"><img src="" alt="Civic Seed" /></h1>
				<h2 class="slug">Civic seed slug here...</h2>
			</a>
		</hgroup>
		<nav role="navigation" class="ancillaryNav">
			<ul>
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
			</ul>
		</nav>
		<nav role="navigation" class="navigation">
			<div class="skip-links">
				<h3 class="assistive-text">Main menu</h3>
				<a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a>
				<a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a>
			</div>
		</nav>
	</header>

	<form id="demo" onsubmit="return false">
		<div id="chatlog"></div>
		<!-- <input id="myMessage" type="text" autocomplete="off"> -->
		<input id="myMessage" type="text" autocomplete="off">
	</form>

	<SocketStream>
</body>
</html>