<!doctype html>
<!-- ng-app="multiPlayer" add this attribute back in later... -->
<html class="no-js" lang="en">
	<head>

		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Civic Seed</title>

		<meta name="viewport" content="width=device-width">
		<meta name="description" content="">
		<meta name="author" content="">
		<script src="/js/modernizr-2.6.1.min.js"></script>

		<SocketStream>

		<link rel="stylesheet" href="/css/style.css"/>

	</head>
	<body>
		<!-- top bar navigation -->
		<div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="/">Civic Seed</a>
	          <div class="btn-group pull-right">
	            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
	              <i class="icon-user"></i> Username
	              <span class="caret"></span>
	            </a>
	            <ul class="dropdown-menu">
	              <li><a href="#">Profile</a></li>
	              <li class="divider"></li>
	              <li><a href="#">Sign Out</a></li>
	            </ul>
	          </div>
	          <div class="nav-collapse">
	            <ul class="nav">
	              <li class="active"><a href="#">Home</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#game">Profiles</a></li>
	              <li><a href="#contact">Contact Us</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>

	    <div class="gameboard">
	    <!-- canvases for rendering game -->
		    <canvas id="background" width="960px" height="480px"> </canvas>
		    <canvas id="npcs" width="960px" height="480px" ></canvas>
		    <canvas id="characters" width="960px" height="480px" ></canvas>
		    <canvas id="foreground" width="960px" height="480px" ></canvas>
		    <canvas id="minimap" width="142px" height="132px" ></canvas>
		    <div class="resourceArea">
		    	
		    	<button class="nextButton btn btn-success" type="button">
		    		Next
		    	</button>
		    	<button class="backButton btn btn-primary" type="button">
		    		Back
		    	</button>
		    	
			</div>
			<div class="speechBubble">
			</div>
		</div>

		<div class="container hud">
			<div class="row">
				<div style="font-size: 22px;">
					<div class="span2 offset1 playerButtons">
						<!-- <i class="icon-briefcase icon-large"></i> -->
						<div class="seedButton">
							<i class="icon-leaf icon-large"></i>
						</div>
						<!-- <i class="icon-trophy icon-large"></i> -->
					</div>
					<div class="span3">	
						<i class="icon-group icon-large"></i>
						<span>{{numActivePlayers}} active players</span>
					</div>
					<div class="span5">
						<form class="form-inline">
							<input type="text" class="input-xlarge" placeholder="say something...">
							<button type="submit" class="btn">Chat</button>
						</form>
					</div>
					<div class="span1">
						<i class="icon-question-sign icon-large"></i>
					</div>    		
				</div>
			</div>
		</div>
		


	</body>
</html>