<!doctype html>
<html class="no-js" lang="en">
<head>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Civic Seed</title>

	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="/js/modernizr-2.6.1.min.js"></script>

	<link rel="stylesheet" href="/css/style.css"/>


</head>
<body ng-app="multiPlayer">

	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Civic Seed</a>
          <div class="btn-group pull-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> Username
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#game">Profiles</a></li>
              <li><a href="#contact">Contact Us</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  	<div class="debug">
  		<p class="tile">0,0</p>
  		<p class="coords">0,0</p>
	</div>

	<div class="gameboard">
    	<div class="cursor"></div>
	</div>

 	<!-- HUD -->
    <div class="container hud">
        <div class="row">
        	<div style="font-size: 22px;">
        		<div class="span2 offset1">
            		<i class="icon-briefcase icon-large"></i>
            		<i class="icon-leaf icon-large"></i>
            		<i class="icon-trophy icon-large"></i>
				</div>
        		<div class="span3">	
        			<i class="icon-group icon-large"></i>
        			<span>3 active players</span>
        		</div>
        		<div class="span5">
        			<form class="form-inline">
							<input type="text" class="input-xlarge" placeholder="say something...">
							<button type="submit" class="btn">Chat</button>
					</form>
        		</div>
        		<div class="span1">
        			<i class="icon-question-sign icon-large"></i>
        		</div>    		
        	</div>
	    </div>
    </div>

      
      
     <!--  <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>
 -->


	
	<div ng-controller="PlayerController">
		<!-- <div class="row">
			<div class="span2">
				<p>number of players: {{playerCount}}</p>
				<p>my id: {{infos.id}}</p>
			</div> -->
		</div>

		
		<svg>
			<rect ng-repeat="player in players" x="{{player.x}}" y="{{player.y}}" width="32" height="32" stroke="black" stroke-width="0" fill="rgb({{player.r}},{{player.g}},{{player.b}})"></rect>
		</svg>

	</div>
  
	<!-- <div ng-contoller="Gnometroller">
		<svg>
			<circle cx="{{cx}}" cy="{{cy}}" r="40" stroke="black" stroke-width="2" fill="red"/>
		</svg>
	</div> -->

	<SocketStream>
	<script src="/js/jquery-1.7.2.min.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/game.js"></script>
</body>
</html>