<!doctype html>
<!--[if lt IE 8]><html class="no-js ie7 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>Whatevs...</title>

	<!-- <meta name="viewport" content="width=device-width,initial-scale=1"/> -->
	<!-- <meta name="viewport" content="width=device-width" /> --><!-- THIS IS THE ORIGINAL... -->

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->
	<!-- <link rel="stylesheet" href="css/style.css"> -->

	<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,900italic,400,700,900" /> -->
	<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600"> -->
	<!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,300italic,700,700italic,900"/> -->
	<link rel="stylesheet" href="/css/style.css"/>
	<link rel="pingback" href="" />

	<script src="/js/modernizr-2.5.3.min.js"></script>

</head>
<body class="">

	<header role="banner" class="clearfix header">
		<hgroup>
			<a href="" rel="home">
				<h1 class="logo"><img src="" alt="Civic Seed" /></h1>
				<h2 class="slug">Civic seed slug here...</h2>
			</a>
		</hgroup>
		<nav role="navigation" class="ancillaryNav">
			<ul>
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
				<li><a href="">Lorem ipsum</a></li>
			</ul>
		</nav>
		<nav role="navigation" class="navigation">
			<div class="skip-links">
				<h3 class="assistive-text">Main menu</h3>
				<a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a>
				<a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a>
			</div>
		</nav>
	</header>

	<form id="demo" onsubmit="return false">
		<div id="chatlog"></div>
		<!-- <input id="myMessage" type="text" autocomplete="off"> -->
		<input id="myMessage" type="text" autocomplete="off">
	</form>

	<SocketStream>
</body>
</html>