	
{{#extend "stylesheets"}}{{/extend}}
	
	<div class="span4 offset4">
		<h2>Temporary links:</h2>
		<ul>
			<li><a href="/invite">Join Us!</a></li>
			<li><a href="/login">Login page</a></li>
			<li><a href="/achievements">Achievements page</a></li>
		</ul>
	</div>


{{#extend "scripts"}}{{/extend}}