	
{{#extend "stylesheets"}}{{/extend}}
	
	<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
    	<div class="row">
			<div class="span7">
        		<h1>Welcome to Civic Seed!</h1>
        		<h3>Prepare for civic engagement and connect with other like-minded individuals.  All while having fun!</h3>
        		<div style="font-size: 36px;">
        			<p>
  						<i class="icon-camera-retro icon-large"></i> icon-camera-retro
					</p>
				</div>
        		<p></p>
	    		<p><a class="btn btn-primary btn-large">Join Now!</a></p>
			</div>
        	<div class="span4 offset1">
	    		<form class="well">
	    			<h2>Sign In: </h2>
	    			<br>
					<input type="text" class="input-large" placeholder="Email">
					<input type="password" class="input-large" placeholder="Password">
					<button type="submit" class="btn btn-primary btn-large moreTopMargin">Sign In</button>
					<p class="moreTopMargin"><a href="/forgot">Forget your password?</a></p>
				</form>
			</div>
      	</div>

      
      
     <!--  <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>
 -->
    </div> <!-- /container -->


{{#extend "scripts"}}{{/extend}}