

{{#extend "stylesheets"}}{{/extend}}
{{#extend "scripts"}}{{/extend}}

    <div class="span4 offset4">
        <form class="form-horizontal" id="loginForm" method="post" action="">
            <fieldset>
                <legend>Sign In</legend>
                <div class="alert">{{message}}</div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="username" name="username" rel="popover" data-content="Enter your email." data-original-title="Email Address">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Password</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" id="password" name="password" rel="popover" data-content="Super secret password." data-original-title="Password">
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label"></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-large btn-success" >Sign In</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>

