<!-- TODO: push this up to our stylesheets... -->
<style>
.console {
	margin: 25px auto;
	padding: 25px;
	width: 800px;
	background: #eee;
	box-shadow: 3px 3px 3px #999;
}
</style>

<div class="console">
	<h1>Startup</h1>
	<h2>Database Initialization</h2>
	<pre>{{consoleOutput}}</pre>
</div>