<!doctype html>
<html class="no-js" lang="en">
<head>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Civic Seed</title>

	<meta name="viewport" content="width=device-width">
	<meta name="description" content="">
	<meta name="author" content="">

	<script src="/js/modernizr-2.6.1.min.js"></script>

	<SocketStream>

</head>
<body ng-app="multiPlayer">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	<div ng-controller="PlayerController">
    <div class="row">
      <div class="span2">
        <p>number of players: {{playerCount}}</p>
        <p>my id: {{infos.id}}</p>
      </div>
    </div>
<!-- 		<div class="row">
			<div class="span4 offset4">
				<h3><a href="#" rel="tooltip" title="Just an angular data bind">Streaming (from angular)</a></h3>
			</div>
			<div class="span4">
				<h3><a href="#" rel="tooltip" title="This data is the return value of a SocketStream RPC call">Status (from rpc)</a></h3>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<a href="#" class="btn btn-primary" data-toggle="button" rel="popover" title="SS-Angular" data-content="When you click this button, the app will: <ol><li>Tell the server to start pushing events through the pubsub channel to which it is already subscribed</li> <li>After two seconds, the server will reply with a status, which will get drawn to the right</li> <li>Then, every 3 seconds, the server will push 16 bytes of crypto data below.</li></ol>Enjoy!" ng-click="toggleData()">Listen to Aliens</a>
			</div>
			<div class="span4">
				{{streaming}}
			</div>
			<div class="span4">
				{{status}}
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h5><a href="#" rel="tooltip" id="messagesTT" placement="right" title="This is data from a SocketStream pubsub session">Messages</a></h5>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<ul>
					<li ng-repeat="message in messages">
						{{message}}
					</li>
				</ul>
			</div>
		</div> -->
      <svg>

  <rect ng-repeat="player in players" x="{{player.x}}" y="{{player.y}}" width="32" height="32" stroke="black" stroke-width="0" fill="rgb({{player.r}},{{player.g}},{{player.b}})"></rect>
  </svg>


	</div>
  
  <!--  <div ng-contoller="Gnometroller">
   <svg>

  <circle cx="{{cx}}" cy="{{cy}}" r="40" stroke="black"
  stroke-width="2" fill="red" />
  </svg>
</div>
 -->
</body>
</html>