.about
	.row
		.span12
			h2 The color has vanished! Can you help bring it back?
			p Civic Seed is a multi-player RPG that harnesses the power of online social play to teach and certify students to civically engage with partner communities.

			h2 Civic Engagement
			p Many incoming university students are eager to make an impact on their school's partner communities and give something back to the people who live there. However, to most, the people and challenges of these communities are unknown, and under-trained volunteers can even do more harm than good.
			p For local organizations, it's difficult to know which students have the necessary knowledge and skills to make a positive impact, and whose personal goals align with the goals of the organization and the community.

			h2 The Power of Play
			p In Civic Seed, students get to explore a fantastical world, engage with the people who live there, and work together to solve a mystery and help bring the world back to life. Reflective learning is mixed with puzzle-solving, social gaming, and collaborative art. Learning through play makes it easy to engage with, reflect upon, and apply new knowledge. Civic Seed lets students learn how to tackle issues systematically and internalize information through experience instead of just memorizing for a quiz.

			h2 Real World Results
			p The Civic Resume- By playing the game, student-players not only learn about civic engagement, they become certified to civically engage with their partner communities. Game actions and responses are recorded and transformed into a civic resume -- a sharable profile, owned by the player, that lets partners understand a student's background, skills, goals, and motivations.
			p Real Learning- Players take part in a reflective, collaborative learning process that prepares them to engage effectively in partner communities and make a positive, informed impact.
