.introduction
	h1 Watch this video
	<iframe src="http://player.vimeo.com/video/64315985" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	p
		a#startGame(href='/game') Start now!